<div class="{{MESSAGE_WINDOW_ROOT}}__attack-description">
  <div class="{{MESSAGE_WINDOW_ROOT}}__change-battery">
    (1)-/+で数字を調整して
    <span class="{{MESSAGE_WINDOW_ROOT}}__pointer">👉</span>
  </div>
  <div class="{{MESSAGE_WINDOW_ROOT}}__push-attack-button--disactive">
    (2)"コウゲキ"を押そう
  </div>
</div>