<div class="{{MESSAGE_WINDOW_ROOT}}__attack-description">
  <span class="{{MESSAGE_WINDOW_ROOT}}__change-battery--disactive">
    (1)-/+で数字を調整して
  </span>
  <span class="{{MESSAGE_WINDOW_ROOT}}__push-attack-button">
    (2)"コウゲキ"を押そう
    <span class="{{MESSAGE_WINDOW_ROOT}}__pointer">👉</span>
  </span>
</div>