{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "simple-import-sort",
    "@html-eslint"
  ],
  "overrides": [
    {
      "files": ["*.hbs"],
      "parser": "@html-eslint/parser",
      "extends": ["plugin:@html-eslint/recommended"],
      "rules": {
        "@html-eslint/require-doctype": "off",
        "@html-eslint/indent": ["error", 2],
        "@html-eslint/require-closing-tags": ["error", {
          "selfClosing": "always"
        }]
      }
    }
  ],
  "rules": {
    "no-undef": "error",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}