<div class="loading__progress">
  <div class="loading__progress-rate" data-id="{{ids.text}}"></div>
  <div class="loading__outer-progress-bar">
    <div class="loading__progress-bar" data-id="{{ids.bar}}"></div>
  </div>
</div>