/** プレイヤー選択画面 アームドーザバストショット */

.armdozer-bust-shot__shin-braver {
  position: absolute;
  top: -10vh;
  top: -10dvh;
  left: calc(100vw - 180vh - var(--safe-area-right));
  left: calc(100dvw - 180dvh - var(--safe-area-right));
  width: 200vh;
  width: 200dvh;
}

.armdozer-bust-shot__neo-landozer {
  position: absolute;
  top: -25vh;
  top: -25dvh;
  left: calc(100vw - 180vh - var(--safe-area-right));
  left: calc(100dvw - 180dvh - var(--safe-area-right));
  width: 200vh;
  width: 200dvh;
}

.armdozer-bust-shot__lightning-dozer {
  position: absolute;
  top: -25vh;
  top: -25dvh;
  left: calc(100vw - 180vh - var(--safe-area-right));
  left: calc(100dvw - 180dvh - var(--safe-area-right));
  width: 200vh;
  width: 200dvh;
}

.armdozer-bust-shot__wing-dozer {
  position: absolute;
  top: -40vh;
  top: -40dvh;
  left: calc(100vw - 160vh - var(--safe-area-right));
  left: calc(100dvw - 160dvh - var(--safe-area-right));
  width: 200vh;
  width: 200dvh;
}

.armdozer-bust-shot__genesis-braver {
  position: absolute;
  top: -20vh;
  top: -20dvh;
  left: calc(100vw - 170vh - var(--safe-area-right));
  left: calc(100dvw - 170dvh - var(--safe-area-right));
  width: 200vh;
  width: 200dvh;
}
