/** プレイヤー選択画面 アームドーザステータスウインドウ */
.armdozer-status {
  --parameter-label-width: calc(var(--responsive-font-size) * 2.2);

  font-size: calc(var(--responsive-font-size) * 0.8);
  width: 50vw;
  box-sizing: border-box;
  overflow: scroll;
  height: calc(var(--responsive-font-size) * 8);
  padding: calc(var(--responsive-font-size) * 0.5);
  background-color: rgb(10 10 10 / 70%);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.armdozer-status__basic-status {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dashed var(--font-color);
  padding-bottom: calc(var(--responsive-font-size) * 0.5);
}

.armdozer-status__name {
  flex-grow: 1;
  flex-shrink: 0;
}

.armdozer-status__basic-params {
  flex-grow: 0;
  flex-shrink: 0;
  display: grid;
  grid-template-columns:
    auto
    auto
    auto
    auto
    auto
    auto
    auto
    auto;
}

.armdozer-status__battery-label,
.armdozer-status__hp-label,
.armdozer-status__power-label,
.armdozer-status__speed-label {
  min-width: var(--parameter-label-width);
  background-color: var(--button-background-color);
  border: var(--label-border);
  text-align: center;
  border-radius: calc(var(--responsive-font-size) * 0.2);
}

.armdozer-status__battery-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.armdozer-status__battery-icon {
  width: var(--responsive-font-size);
  height: var(--responsive-font-size);
}

.armdozer-status__battery-value {
  margin-right: calc(var(--responsive-font-size) * 1);
}

.armdozer-status__hp-value,
.armdozer-status__power-value {
  margin-right: calc(var(--responsive-font-size) * 0.5);
}

.armdozer-status__burst-overview {
  margin-top: calc(var(--responsive-font-size) * 0.5);
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.armdozer-status__burst-overview-label,
.armdozer-status__burst-detail-label {
  display: inline-block;
  text-align: center;
  border-radius: calc(var(--responsive-font-size) * 0.2);
  padding: 0 calc(var(--responsive-font-size) * 0.8);
}

.armdozer-status__burst-overview-label {
  background-color: var(--button-background-color);
  border: var(--label-border);
}

.armdozer-status__burst-detail-label {
  background-color: var(--sub-button-background-color);
  border: var(--sub-label-border);
}
