/** アームドーザカード */
.armdozer-card {
  --parameter-label-width: calc(var(--responsive-font-size) * 2.2);

  width: calc(var(--responsive-font-size) * 0.8 * 25);
  height:calc(var(--responsive-font-size) * 0.8 * 6);
  user-select: none;
  overflow: hidden;
  background-color: rgb(10 10 10 / 70%);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  box-sizing: border-box;
  font-size: calc(var(--responsive-font-size) * 0.8);
  color: var(--font-color);
  text-align: start;
}

.armdozer-card__basic-params {
  display: grid;
  grid-template-columns:
    auto
    auto
    auto
    auto
    auto
    auto
    auto
    auto;
}

.armdozer-card__battery-label,
.armdozer-card__hp-label,
.armdozer-card__power-label,
.armdozer-card__speed-label {
  min-width: var(--parameter-label-width);
  background-color: var(--button-background-color);
  text-align: center;
  border-radius: calc(var(--responsive-font-size) * 0.2);
}

.armdozer-card__battery-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.armdozer-card__battery-icon {
  width: var(--responsive-font-size);
  height: var(--responsive-font-size);
}

.armdozer-card__battery-value {
  margin-right: calc(var(--responsive-font-size) * 1);
}

.armdozer-card__hp-value,
.armdozer-card__power-value {
  margin-right: calc(var(--responsive-font-size) * 0.5);
}

.armdozer-card__burst-overview {
  margin-top: calc(var(--responsive-font-size) * 0.5);
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.armdozer-card__shin-braver-bust-shot {
  height: 40vh;
}