/** プレイヤー選択画面 アームドーザステータスウインドウ */
.armdozer-status{
  display: flex;
  flex-direction: column;
  font-size: calc(var(--responsive-font-size) * 0.8);
  width: 50vw;
  box-sizing: border-box;
  height: calc(var(--responsive-font-size) * 8);
  padding: calc(var(--responsive-font-size) * 0.5);
  background-color: rgba(10, 10, 10, 0.7);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.armdozer-status__hp-label,
.armdozer-status__power-label,
.armdozer-status__speed-label
{
  margin-right: calc(var(--responsive-font-size) * 0.2);
}

.armdozer-status__hp-value,
.armdozer-status__power-value
{
  margin-right: calc(var(--responsive-font-size));
}

.armdozer-status__burst {
  display: flex;
  flex-direction: column;
}

.armdozer-status__burst-description {
  padding-left: var(--responsive-font-size);
}