/** アームドーザカード */
.armdozer-card {
  --font-size: calc(var(--responsive-font-size) * 0.8);
  --gap: calc(var(--font-size) * 0.3);
  --text-height: calc(var(--font-size) * 1.5);
  --label-width: calc(var(--font-size) * 4.5);
  --icon-size: calc(var(--text-height) * 4 + var(--gap) * 3);

  display: grid;
  grid-template-columns: var(--icon-size) 1fr;
  width: calc(var(--font-size) * 25);
  user-select: none;
  overflow: hidden;
  background-color: rgb(10 10 10 / 70%);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  box-sizing: border-box;
  font-size: var(--font-size);
  color: var(--font-color);
  text-align: start;
}

.armdozer-card__status {
  display: grid;
  gap: var(--gap);
  grid-template-columns:
    var(--label-width)
    1fr
    var(--label-width)
    1fr;
}

.armdozer-card__name {
  grid-row: 1;
  grid-column: 1 / 5;
}

.armdozer-card__battery-label,
.armdozer-card__hp-label,
.armdozer-card__power-label,
.armdozer-card__speed-label,
.armdozer-card__burst-label {
  background-color: var(--button-background-color);
  text-align: center;
  border-radius: calc(var(--responsive-font-size) * 0.2);
  min-height: var(--text-height);
}

.armdozer-card__battery-label {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  place-items: center;
}

.armdozer-card__battery-icon {
  width: var(--font-size);
  height: var(--font-size);
}

.armdozer-card__battery-value {
  grid-row: 2;
  grid-column: 2;
}

.armdozer-card__hp-label {
  grid-row: 2;
  grid-column: 3;
}

.armdozer-card__hp-value {
  grid-row: 2;
  grid-column: 4;
}

.armdozer-card__power-label {
  grid-row: 3;
  grid-column: 1;
}

.armdozer-card__power-value {
  grid-row: 3;
  grid-column: 2;
}

.armdozer-card__speed-label {
  grid-row: 3;
  grid-column: 3;
}

.armdozer-card__speed-value {
  grid-row: 3;
  grid-column: 4;
}

.armdozer-card__burst-label {
  grid-row: 4;
  grid-column: 1;
  display: inline-block;
  width: var(--label-width);
  height: var(--text-height);
}

.armdozer-card__burst-value {
  grid-row: 4;
  grid-column: 2 / 5;
}

.armdozer-card__shin-braver-icon {
  place-self: center;
  height: var(--icon-size);
}
