/** プレイヤー選択画面 アームドーザバストショット */

.armdozer-bust-shot__shin-braver {
  position: fixed;
  top: -10vh;
  top: -10dvh;
  right: -20vh;
  right: -20dvh;
  width: 200vh;
  width: 200dvh;
  height: 200vh;
  height: 200dvh;
}

.armdozer-bust-shot__neo-landozer {
  position: fixed;
  top: -25vh;
  top: -25dvh;
  right: -20vh;
  right: -20dvh;
  width: 200vh;
  width: 200dvh;
  height: 200vh;
  height: 200dvh;
}

.armdozer-bust-shot__lightning-dozer {
  position: fixed;
  top: -25vh;
  top: -25dvh;
  right: -20vh;
  right: -20dvh;
  width: 200vh;
  width: 200dvh;
  height: 200vh;
  height: 200dvh;
}

.armdozer-bust-shot__wing-dozer {
  position: fixed;
  top: -40vh;
  top: -40dvh;
  right: -40vh;
  right: -40dvh;
  width: 200vh;
  width: 200dvh;
  height: 200vh;
  height: 200dvh;
}

.armdozer-bust-shot__genesis-braver {
  position: fixed;
  top: -20vh;
  top: -20dvh;
  right: -30vh;
  right: -30dvh;
  width: 200vh;
  width: 200dvh;
  height: 200vh;
  height: 200dvh;
}

.armdozer-bust-shot__gran-dozer {
  position: fixed;
  top: -50vh;
  top: -50dvh;
  right: -80vh;
  right: -80dvh;
  width: 250vh;
  width: 250dvh;
  height: 250vh;
  height: 250dvh;
}
