/** 戦闘画面用ハンバーガーメニュー */
@media (orientation: landscape) {
  .battle-hamburger-menu {
    --icon-size: 48px;

    display: block;
    position: fixed;
    top: max(var(--safe-area-top), calc(var(--responsive-font-size) * 0.3));
    right: max(var(--safe-area-right), calc(var(--responsive-font-size) * 0.3));
    text-align: right;
  }
}

@media (orientation: portrait) {
  .battle-hamburger-menu {
    display: none;
  }
}

.battle-hamburger-menu__hamburger-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.battle-hamburger-menu__menu {
  display: flex;
  flex-direction: column;
  gap: calc(var(--responsive-font-size) * 1);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  box-sizing: border-box;
  padding: calc(var(--responsive-font-size) * 1)
    calc(var(--responsive-font-size) * 1.5);
  text-align: left;
}

.battle-hamburger-menu__menu--hidden {
  display: none;
}

.battle-hamburger-menu__retry:hover,
.battle-hamburger-menu__end-battle:hover {
  background-color: var(--button-background-color);
}
