/** 戦闘画面用ハンバーガーメニュー */
@media (orientation: landscape) {
  .battle-hamburger-menu {
    --hamburger-icon-size: max(48px, calc(var(--responsive-font-size) * 3));
    --closer-width: 48px;
    --closer-height: 48px;

    display: block;
    position: fixed;
    top: max(var(--safe-area-top), calc(var(--responsive-font-size) * 0.6));
    right: max(var(--safe-area-right), calc(var(--responsive-font-size) * 0.6));
    text-align: right;
    z-index: var(--zindex-battle-hamburger-menu);
  }

  .battle-hamburger-menu--hidden {
    display: none;
  }
}

@media (orientation: portrait) {
  .battle-hamburger-menu {
    display: none;
  }
}

.battle-hamburger-menu__hamburger-icon {
  width: var(--hamburger-icon-size);
  height: var(--hamburger-icon-size);
}

.battle-hamburger-menu__menu {
  display: flex;
  flex-direction: column;
  gap: calc(var(--responsive-font-size) * 1);
  color: var(--font-color);
  font-size: calc(var(--responsive-font-size) * 1.3);
  background-color: var(--background-color);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  box-sizing: border-box;
  padding: calc(var(--responsive-font-size) * 1)
    calc(var(--responsive-font-size) * 1.5);
  text-align: left;
}

.battle-hamburger-menu__menu--hidden {
  display: none;
}

.battle-hamburger-menu__separation {
  height: 0;
  border-top: solid #626262 1px;
}

.battle-hamburger-menu__battle-simulator:hover,
.battle-hamburger-menu__player-status:hover,
.battle-hamburger-menu__enemy-status:hover,
.battle-hamburger-menu__retry:hover,
.battle-hamburger-menu__end-battle:hover {
  background-color: var(--hovered-back-ground-color);
}

.battle-hamburger-menu__retry--disabled,
.battle-hamburger-menu__battle-simulator--disabled {
  color: var(--disabled-button-font-color);
}

.battle-hamburger-menu__background {
  position: fixed;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
  top: 0;
  left: 0;
}

.battle-hamburger-menu__background--hidden {
  display: none;
}

.battle-hamburger-menu__retry-confirm-dialog,
.battle-hamburger-menu__end-battle-confirm-dialog {
  position: fixed;
  z-index: var(--zindex-dialog);
  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  min-width: calc(var(--responsive-font-size) * 20);
  min-height: calc(var(--responsive-font-size) * 15);
  transform: translate(-50%, -50%);
  display: grid;
  grid-template:
    "caption" 1fr
    "retry" auto
    "cancel" auto;
  gap: calc(var(--responsive-font-size) * 0.5);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  box-sizing: border-box;
  padding: calc(var(--responsive-font-size) * 2);
}

.battle-hamburger-menu__retry-confirm-dialog--hidden,
.battle-hamburger-menu__end-battle-confirm-dialog--hidden {
  display: none;
}

.battle-hamburger-menu__retry-confirm-caption,
.battle-hamburger-menu__end-battle-confirm-caption {
  grid-area: caption;
  text-align: center;
}

.battle-hamburger-menu__retry-button,
.battle-hamburger-menu__end-battle-button {
  grid-area: retry;
  border: var(--button-border);
  background-color: var(--button-background-color);
  box-shadow: var(--button-box-shadow);
}

.battle-hamburger-menu__retry-cancel-button,
.battle-hamburger-menu__end-battle-cancel-button {
  grid-area: cancel;
  border: var(--sub-button-border);
  background-color: var(--sub-button-background-color);
  box-shadow: var(--sub-button-box-shadow);
}

.battle-hamburger-menu__retry-button,
.battle-hamburger-menu__retry-cancel-button,
.battle-hamburger-menu__end-battle-button,
.battle-hamburger-menu__end-battle-cancel-button {
  height: calc(var(--responsive-font-size) * 3);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
}

.battle-hamburger-menu__retry-confirm-dialog-closer,
.battle-hamburger-menu__end-battle-confirm-dialog-closer {
  position: absolute;
  top: calc(var(--closer-height) * -0.5);
  left: calc(var(--closer-width) * -0.5);
  width: var(--closer-width);
  height: var(--closer-height);
  z-index: var(--zindex-close);
}
