/** 戦闘画面用ハンバーガーメニュー */
@media (orientation: landscape) {
  .battle-hamburger-menu {
    --icon-size: 48px;

    display: block;
    position: fixed;
    top: var(--safe-area-top);
    right: var(--safe-area-right);
    text-align: right;
  }
}

@media (orientation: portrait) {
  .battle-hamburger-menu {
    display: none;
  }
}

.battle-hamburger-menu__hamburger-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
