/** 戦闘シミュレーター */
@media (orientation: landscape) {
  .battle-simulator {
    --closer-width: 48px;
    --closer-height: 48px;
    --dialog-padding: var(--responsive-font-size);
    --player-area-width: calc(var(--responsive-font-size) * 15);
    --player-area-height: calc(var(--responsive-font-size) * 10);
    --armdozer-size: calc(var(--responsive-font-size) * 19);
    --middle-area-size: calc(var(--responsive-font-size) * 2);
    --tun-indicator-size: calc(var(--responsive-font-size) * 6);

    display: block;
  }
}

@media (orientation: portrait) {
  .battle-simulator {
    display: none;
  }
}

.battle-simulator__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.battle-simulator__dialog {
  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  position: absolute;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: calc(var(--closer-height) / 2) var(--dialog-padding)
    var(--dialog-padding) var(--dialog-padding);
  display: grid;
  grid-template-areas:
    "enemy middle player"
    "enemy-battery _ player-battery";
  place-items: center;
}

.battle-simulator__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: calc(var(--closer-width) * -0.5);
  left: calc(var(--closer-height) * -0.5);
}

.battle-simulator__player {
  position: relative;
  grid-area: player;
  width: var(--player-area-width);
  height: var(--player-area-height);
}

.battle-simulator__player-armdozer {
  position: absolute;
  width: var(--armdozer-size);
  height: var(--armdozer-size);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.battle-simulator__enemy {
  position: relative;
  grid-area: enemy;
  width: var(--player-area-width);
  height: var(--player-area-height);
}

.battle-simulator__enemy-armdozer {
  position: absolute;
  width: var(--armdozer-size);
  height: var(--armdozer-size);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(-1, 1);
}

.battle-simulator__middle {
  position: relative;
  grid-area: middle;
  width: var(--middle-area-size);
  height: var(--middle-area-size);
}

.battle-simulator__turn-indicator {
  position: absolute;
  width: var(--tun-indicator-size);
  height: var(--tun-indicator-size);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.battle-simulator__player-battery {
  grid-area: player-battery;
  white-space: nowrap;
}

.battle-simulator__enemy-battery {
  grid-area: enemy-battery;
  white-space: nowrap;
}

.battle-simulator__player-battery-minus,
.battle-simulator__player-battery-plus,
.battle-simulator__enemy-battery-minus,
.battle-simulator__enemy-battery-plus {
  width: calc(var(--responsive-font-size) * 3);
  height: calc(var(--responsive-font-size) * 3);
  font-size: calc(var(--responsive-font-size) * 1.5);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  border: var(--button-border);
  background-color: var(--sub-button-background-color);
}
