/** 設定変更通知ダイアログ */
.config-changed {
  --dialog-button-height: calc(var(--responsive-font-size) * 3);
  --closer-width: 48px;
  --closer-height: 48px;

  position: fixed;
}

.config-changed--invisible {
  display: none;
}

.config-changed__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.config-changed__dialog {
  --dialog-padding: var(--responsive-font-size);

  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  position: fixed;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto auto;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
  padding: var(--closer-height) var(--dialog-padding) var(--dialog-padding)
    var(--dialog-padding);
}

.config-changed__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: calc(var(--closer-width) * -0.5);
  left: calc(var(--closer-height) * -0.5);
}

.config-changed__title {
  font-size: calc(var(--responsive-font-size) * 1.3);
}

.config-changed__caption {
  font-size: calc(var(--responsive-font-size) * 0.8);
  margin-bottom: calc(var(--responsive-font-size) * 2);
}

.config-changed__dialog button {
  height: var(--dialog-button-height);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}

.config-changed__discard {
  background-color: var(--sub-button-background-color);
}

.config-changed__accept {
  background-color: var(--button-background-color);
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}
