/** 設定画面 */
@media (orientation: landscape) {
  .config {
    --button-width: calc(var(--responsive-font-size) * 10);
    --button-height: calc(var(--responsive-font-size) * 3);

    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding: var(--screen-padding-top) var(--screen-padding-right)
      var(--screen-padding-bottom) var(--screen-padding-left);
    display: grid;
    grid-auto-rows: auto 1fr auto;
    grid-gap: calc(var(--responsive-font-size) * 0.5);
  }
}

@media (orientation: portrait) {
  .config {
    display: none;
  }
}

.config__title {
  font-size: calc(var(--responsive-font-size) * 1);
  background-color: var(--sub-background-color);
  border-radius: var(--button-border-radius);
  min-height: calc(var(--responsive-font-size) * 3);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 calc(var(--responsive-font-size) * 1);
}

.config__configs {
  --font-size: var(--responsive-font-size);

  flex: 1;
  overflow: auto;
  box-sizing: border-box;
  font-size: calc(var(--responsive-font-size) * 1);
  background-color: var(--sub-background-color);
  border-radius: var(--button-border-radius);
  padding: calc(var(--responsive-font-size) * 1);
  display: flex;
  flex-direction: column;
  gap: calc(var(--responsive-font-size) * 2);
}

.config__config-separation {
  width: 100%;
  border-bottom: dashed 1px var(--font-color);
  margin: calc(var(--responsive-font-size) * 0.5) 0;
}

.config__battle-animation-time-scale-caption,
.config__webgl-pixel-ratio-caption,
.config__battle-controller-type-caption,
.config__bgm-volume-caption,
.config__se-volume-caption,
.config__performance-stats-visibility-caption {
  background-color: var(--sub-button-background-color);
  border-radius: calc(var(--responsive-font-size) * 0.5);
  padding: calc(var(--responsive-font-size) * 0.3);
}

.config__battle-animation-time-scale-description,
.config__webgl-pixel-ratio-description,
.config__battle-controller-type-description,
.config__bgm-volume-description,
.config__se-volume-description,
.config__performance-stats-visibility-description {
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.config__battle-animation-time-scale-selector,
.config__webgl-pixel-ratio-selector {
  display: flex;
  gap: calc(var(--responsive-font-size) * 2);
}

.config__battle-controller-type-selector {
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  gap: calc(var(--font-size) * 1);
}

.config__battle-animation-time-scale-label,
.config__webgl-pixel-ratio-selector-label,
.config__battle-controller-type-label,
.config__performance-stats-visibility-label {
  display: flex;
  align-items: center;
}

.config__battle-animation-time-scale-radio,
.config__webgl-pixel-ratio-selector-radio,
.config__battle-controller-type-radio,
.config__performance-stats-visibility-radio {
  margin: 0;
  height: var(--font-size);
  width: var(--font-size);
}

.config__big-button-detail,
.config__mini-controller-detail {
  padding-left: calc(var(--responsive-font-size) * 1);
}

.config__mini-controller-detail {
  display: flex;
  flex-direction: column;
  gap: calc(var(--responsive-font-size) * 1);
}

.config__mini-controller-keyboard-shortcuts-detail {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: calc(var(--responsive-font-size) * 0.3)
    calc(var(--responsive-font-size) * 2);
}

.config__mini-controller-command {
  display: flex;
  align-items: center;
}

.config__mini-controller-keyboard-shortcut {
  display: flex;
  align-items: center;
  gap: calc(var(--responsive-font-size) * 0.3);
}

.config__accesskey-caption a {
  color: var(--button-font-color);
}

.config__keyboard-icon,
.config__number-key-icon {
  display: inline-block;
  color: var(--background-color);
  font-size: calc(var(--responsive-font-size) * 1);
  background-color: #f5f5f5;
  padding: calc(var(--responsive-font-size) * 0.2);
  border-radius: calc(var(--responsive-font-size) * 0.2);
  border: solid 1px var(--background-color);
  min-width: calc(var(--responsive-font-size) * 2);
  min-height: calc(var(--responsive-font-size) * 1);
  text-align: center;
}

.config__number-key-icon {
  font-size: calc(var(--responsive-font-size) * 0.8);
}

.config__bgm-volume-selector,
.config__se-volume-selector {
  width: calc(var(--responsive-font-size) * 14);
  margin-right: calc(var(--responsive-font-size) * 2);
}

.config__performance-stats-visibility-selector {
  display: flex;
  gap: calc(var(--responsive-font-size) * 2);
}

.config__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: calc(var(--responsive-font-size) * 0.5);
}

.config__footer button {
  height: var(--button-height);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}

.config__config-change {
  background-color: var(--button-background-color);
}

.config__prev {
  background-color: var(--sub-button-background-color);
}
