/** 設定画面 */
@media (orientation: landscape) {
  .config-scene {
    --control-button-width: calc(var(--responsive-font-size) * 10);
    --control-button-height: calc(var(--responsive-font-size) * 3);
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding-top: var(--screen-padding-top);
    padding-left: var(--screen-padding-left);
    padding-right: var(--screen-padding-right);
    padding-bottom: var(--screen-padding-bottom);
    display: flex;
    flex-direction: column;
  }
}

@media (orientation: portrait) {
  .config-scene {
    display: none;
  }
}

.config-scene__title {
  font-size: calc(var(--responsive-font-size) * 3);
}

.config-scene__configs {
  --font-size: calc(var(--responsive-font-size) * 1.5);
  --config-caption-width: calc(var(--responsive-font-size) * 20);
  flex-grow: 1;
  box-sizing: border-box;
  padding: calc(var(--responsive-font-size) * 1);
  font-size: var(--font-size);
}

.config-scene__configs__webgl-pixel-ratio {
  display: flex;
  align-items: center;
}
.config-scene__configs__webgl-pixel-ratio__caption {
  width: var(--config-caption-width);
}

.config-scene__configs__webgl-pixel-ratio__selector {
  -webkit-appearance: menulist-button;
  width: calc(var(--responsive-font-size) * 5);
  height: calc(var(--responsive-font-size) * 3);
  font-size: var(--font-size);
}

.config-scene__footer button {
  width: var(--control-button-width);
  height: var(--control-button-height);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}

.config-scene__footer__config-change {
  background-color: var(--button-background-color);
}

.config-scene__footer__prev {
  background-color: var(--sub-button-background-color);
  margin-right: calc(var(--responsive-font-size) * 0.5);
}