/**
 * 難易度選択ダイアログ
 */
 @media (orientation: landscape) {
  .difficulty {
    --delete-account-consent-dialog-width: calc(80vw);
    --delete-account-consent-dialog-height: calc(min(var(--delete-account-consent-dialog-width) * 9 / 16, var(--vh) * 85));
    display: block;
  }
}

@media (orientation: portrait) {
  .difficulty {
    display: none;
  }
}

.difficulty__background {
  position: absolute;
  width: var(--screen-width);
  height: var(--screen-height);
  background-color: #000000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.difficulty__closer {
  --icon-width: 48px;
  --icon-height: 48px;
  position: fixed;
  top: calc(
    calc(var(--vh, 1vh) * 50)
    - var(--delete-account-consent-dialog-height) / 2
    - var(--icon-width) / 2
  );
  left: calc(
    50vw
    - var(--delete-account-consent-dialog-width) / 2
    - var(--icon-height) / 2
  );
  width: var(--icon-width);
  height: var(--icon-height);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--zindex-close);
}

.difficulty__dialog {
  width: var(--delete-account-consent-dialog-width);
  height: var(--delete-account-consent-dialog-height);
  top: calc(var(--vh, 1vh) * 50);
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: var(--responsive-font-size);
}
.difficulty__dialog__caption {
  margin-bottom: calc(var(--responsive-font-size) * 2);
}

.difficulty__dialog__controllers {
  display: flex;
  align-items: center;
  margin-top: var(--responsive-font-size);
}

.difficulty__dialog__controllers button {
  width: calc(var(--responsive-font-size) * 8);
  height: calc(var(--responsive-font-size) * 3);
  margin: 0 calc(var(--responsive-font-size) * 0.5);
  font-size: calc(var(--responsive-font-size));
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  border: var(--button-border);
  background-color: var(--button-background-color);
}