/**
 * 難易度選択ダイアログ
 */
@media (orientation: landscape) {
  .difficulty {
    --closer-width: 48px;
    --closer-height: 48px;

    display: block;
  }
}

@media (orientation: portrait) {
  .difficulty {
    display: none;
  }
}

.difficulty__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.difficulty__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: calc(var(--closer-width) * -0.5);
  left: calc(var(--closer-height) * -0.5);
}

.difficulty__dialog {
  --dialog-padding: var(--responsive-font-size);

  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: var(--closer-height) var(--dialog-padding) var(--dialog-padding)
    var(--dialog-padding);
}

.difficulty__caption {
  font-size: calc(var(--responsive-font-size) * 1.2);
  margin-bottom: calc(var(--responsive-font-size) * 1.5);
}

.difficulty__controllers {
  display: flex;
  align-items: center;
}

.difficulty__easy,
.difficulty__normal,
.difficulty__hard,
.difficulty__very-hard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(var(--responsive-font-size) * 0.5);
}

.difficulty__easy-icon,
.difficulty__normal-icon,
.difficulty__hard-icon,
.difficulty__very-hard-icon {
  width: calc(var(--responsive-font-size) * 5);
  height: calc(var(--responsive-font-size) * 5);
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.difficulty__easy-button,
.difficulty__normal-button,
.difficulty__hard-button,
.difficulty__very-hard-button {
  width: calc(var(--responsive-font-size) * 7);
  height: calc(var(--responsive-font-size) * 3);
  font-size: calc(var(--responsive-font-size) * 0.9);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  border: var(--sub-button-border);
  background-color: var(--sub-button-background-color);
}
