/** エピソードセレクト画面 */
@media (orientation: landscape) {
  .episode-selector {
    --gap: calc(var(--responsive-font-size) * 0.4);

    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding: var(--screen-padding-top) var(--screen-padding-right)
      var(--screen-padding-bottom) var(--screen-padding-left);
    display: grid;
    grid-template:
      "tabs     detail" auto
      "episodes detail" 1fr / 1fr 1fr;
    grid-gap: 0 var(--gap);
  }
}

@media (orientation: portrait) {
  .episode-selector {
    display: none;
  }
}

.episode-selector__selector {
  display: flex;
  flex-direction: column;
  background-color: var(--sub-background-color);
  padding: calc(var(--responsive-font-size) * 0.5);
  border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
}

.episode-selector__episode-type-tabs {
  grid-area: tabs;
  display: flex;
}

.episode-selector__episode-type,
.episode-selector__episode-type--selected {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sub-background-color);
  min-height: calc(var(--responsive-font-size) * 3);
  font-size: var(--responsive-font-size);
}

.episode-selector__episode-type {
  background-color: #2b2b2b;
  border: solid calc(var(--gap) * 0.5) var(--background-color);
}

.episode-selector__episode-type:first-child,
.episode-selector__episode-type--selected:first-child {
  border-top-left-radius: var(--button-border-radius);
}

.episode-selector__episode-type:last-child,
.episode-selector__episode-type--selected:last-child {
  border-top-right-radius: var(--button-border-radius);
}

.episode-selector__episodes {
  grid-area: episodes;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.episode-selector__episode-detail {
  display: flex;
  flex-direction: column;
  grid-area: detail;
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  font-size: var(--responsive-font-size);
  padding: calc(var(--responsive-font-size) * 0.5);
  background-color: var(--sub-background-color);
}

.episode-selector__episode-title {
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
  border-bottom: solid 1px var(--font-color);
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.episode-selector__contents {
  flex: 1;
  overflow-y: scroll;
}

.episode-selector__episode-image-cut {
  width: 100%;
  border-radius: var(--button-border-radius);
  filter: brightness(0.7);
}

.episode-selector__episode-image-cut--invisible {
  display: none;
}

.episode-selector__prev,
.episode-selector__play-episode {
  min-height: calc(var(--responsive-font-size) * 3);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.episode-selector__prev {
  border: var(--sub-button-border);
  background-color: var(--sub-button-background-color);
  box-shadow: var(--sub-button-box-shadow);
}

.episode-selector__play-episode {
  border: var(--button-border);
  background-color: var(--button-background-color);
  box-shadow: var(--button-box-shadow);
}
