/** エピソード情報 */
@media (orientation: landscape) {
  .episode {
    position: relative;
    display: flex;
    align-items: center;
    min-height: calc(var(--responsive-font-size) * 3);
    box-sizing: border-box;
    font-size: var(--responsive-font-size);
    padding: calc(var(--responsive-font-size) * 0.1);
    color: var(--font-color);
    background-color: var(--sub-background-color);
    border-bottom: dashed 1px var(--font-color);
    margin-bottom: calc(var(--responsive-font-size) * 0.7) 0;
  }

  .episode--invisible {
    display: none;
  }
}

@media (orientation: portrait) {
  .episode {
    display: none;
  }
}

.episode__checker,
.episode__checker--invisible {
  --size: calc(var(--responsive-font-size) * 1);

  width: var(--size);
  height: var(--size);
  margin-right: calc(var(--responsive-font-size) * 0.5);
  flex-shrink: 0;
}

.episode__checker--invisible {
  opacity: 0;
}

.episode__title {
  flex: 1;
  padding: calc(var(--responsive-font-size) * 0.4);
  border-radius: var(--button-border-radius);
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.episode__checker + .episode__title {
  background-color: var(--sub-button-background-color);
}
