.face-graphic {
  width: calc(var(--responsive-font-size) * 6);
}

.face-graphic--invisible {
  display: none;
}

.face-graphic img {
  position: fixed;
}

.face-graphic__shinya {
  --icon-size: calc(var(--responsive-font-size) * 8);
  transform: translate(-25%, -50%);
  width: var(--icon-size);
  height: var(--icon-size);
}

.face-graphic__tsubasa {
  --icon-size: calc(var(--responsive-font-size) * 8);
  transform: translate(-25%, -50%);
  width: var(--icon-size);
  height: var(--icon-size);
}

.face-graphic__shinya--invisible,
.face-graphic__tsubasa--invisible {
  display: none;
}