.face-graphic {
  position: relative;
  width: calc(var(--responsive-font-size) * 6);
}

.face-graphic--invisible {
  display: none;
}

.face-graphic img {
  position: absolute;
  bottom: calc(var(--responsive-font-size) * -1);
}

.face-graphic__shinya,
.face-graphic__shinya--right {
  --icon-size: calc(var(--responsive-font-size) * 8);

  width: var(--icon-size);
  height: var(--icon-size);
}

.face-graphic__shinya {
  transform: translateX(0%);
}

.face-graphic__shinya--right {
  transform: translateX(-25%) scaleX(-1);
}

.face-graphic__gai,
.face-graphic__gai--right {
  --icon-size: calc(var(--responsive-font-size) * 8.5);

  width: var(--icon-size);
  height: var(--icon-size);
}

.face-graphic__gai {
  transform: translateX(0%);
}

.face-graphic__gai--right {
  transform: translateX(-25%) scaleX(-1);
}

.face-graphic__raito,
.face-graphic__raito--right {
  --icon-size: calc(var(--responsive-font-size) * 8.5);

  width: var(--icon-size);
  height: var(--icon-size);
}

.face-graphic__raito {
  transform: translateX(0%);
}

.face-graphic__raito--right {
  transform: translateX(-25%) scaleX(-1);
}

.face-graphic__tsubasa,
.face-graphic__tsubasa--right {
  --icon-size: calc(var(--responsive-font-size) * 9.5);

  width: var(--icon-size);
  height: var(--icon-size);
}

.face-graphic__tsubasa {
  transform: translateX(0%);
}

.face-graphic__tsubasa--right {
  transform: translateX(-25%) scaleX(-1);
}

.face-graphic__yuuya,
.face-graphic__yuuya--right {
  --icon-size: calc(var(--responsive-font-size) * 9.5);
  --translate-y: 10%;

  width: var(--icon-size);
  height: var(--icon-size);
}

.face-graphic__yuuya {
  transform: translateX(-15%) translateY(var(--translate-y));
}

.face-graphic__yuuya--right {
  transform: translateX(-25%) translateY(var(--translate-y)) scaleX(-1);
}

.face-graphic__shinya--invisible,
.face-graphic__gai--invisible,
.face-graphic__raito--invisible,
.face-graphic__tsubasa--invisible,
.face-graphic__yuuya--invisible {
  display: none;
}
