/** フェーダー */
@media (orientation: landscape) {
  .dom-fader {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    position: fixed;
    z-index: var(--zindex-fader);
    background-color: var(--background-color);
  }
}

@media (orientation: portrait) {
  .dom-fader {
    display: none;
  }
}
