/** ローカル対戦ゲストダイアログ */

@media (orientation: landscape) {
  .local-battle-guest {
    display: block;
  }
}

@media (orientation: portrait) {
  .local-battle-guest {
    display: none;
  }
}

.local-battle-guest__dialog {
  --dialog-padding: calc(var(--responsive-font-size) * 2);

  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  color: var(--font-color);
  background-color: var(--background-color);
  position: absolute;
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: max(var(--dialog-padding), calc(var(--closer-height) / 2))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--responsive-font-size) * 0.5);
}

.local-battle-guest__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: max(var(--safe-area-top), calc(var(--closer-width) * 0.3));
  left: max(var(--safe-area-left), calc(var(--closer-height) * 0.3));
}

.local-battle-guest__description {
  text-align: center;
  font-size: calc(var(--responsive-font-size) * 1.2);
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.local-battle-guest__password {
  height: calc(var(--responsive-font-size) * 3);
  border: var(--sub-button-border);
  border-radius: var(--button-border-radius);
  padding: var(--button-border-radius);
  box-sizing: border-box;
  font-size: calc(var(--responsive-font-size) * 1);
  text-align: center;
  width: calc(var(--responsive-font-size) * 30);
}

.local-battle-guest__battle-start {
  font-size: calc(var(--responsive-font-size) * 1);
  color: var(--button-font-color);
  background-color: var(--button-background-color);
  border-radius: var(--button-border-radius);
  border: var(--button-border);
  height: calc(var(--responsive-font-size) * 3);
  width: calc(var(--responsive-font-size) * 30);
}
