/**
 * ログインダイアログ
 */
@media (orientation: landscape) {
  .login {
    --closer-width: 48px;
    --closer-height: 48px;
    --control-button-height: calc(var(--responsive-font-size) * 3);

    display: block;
  }
}

@media (orientation: portrait) {
  .login {
    display: none;
  }
}

.login__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.login__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: calc(var(--closer-width) * -0.5);
  left: calc(var(--closer-height) * -0.5);
}

.login__dialog {
  --dialog-padding: calc(var(--responsive-font-size) * 2);

  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  position: absolute;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto auto;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
  padding: max(var(--dialog-padding), calc(var(--closer-height) / 2))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
}

.login__title {
  font-size: calc(var(--responsive-font-size) * 1.3);
}

.login__caption {
  font-size: calc(var(--responsive-font-size) * 0.8);
  margin-bottom: calc(var(--responsive-font-size) * 2);
}

.login__close {
  height: var(--control-button-height);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  background-color: var(--sub-button-background-color);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}

.login__login {
  height: var(--control-button-height);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
  margin-bottom: calc(var(--responsive-font-size) * 0.3);
}
