/**
 * メール認証未完了画面
 */
@media (orientation: landscape) {
  .mail-verified-incomplete {
    --padding: 5vh;
    --control-button-width: calc(var(--responsive-font-size) * 10);
    --control-button-height: calc(var(--responsive-font-size) * 3);

    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    box-sizing: border-box;
    padding: max(var(--safe-area-top), var(--padding))
      max(var(--safe-area-right), var(--padding))
      max(var(--safe-area-bottom), var(--padding))
      max(var(--safe-area-left), var(--padding));
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: var(--responsive-font-size);
  }
}

@media (orientation: portrait) {
  .mail-verified-incomplete {
    display: none;
  }
}

.mail-verified-incomplete__title {
  font-size: calc(var(--responsive-font-size) * 1.5);
  margin-bottom: var(--responsive-font-size);
}

.mail-verified-incomplete__procedure {
  padding-bottom: var(--responsive-font-size);
}

.mail-verified-incomplete__controllers button {
  width: var(--control-button-width);
  height: var(--control-button-height);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  box-shadow: var(--sub-button-box-shadow);
}

.mail-verified-incomplete__goto-title {
  border: var(--sub-button-border);
  background-color: var(--sub-button-background-color);
  margin-right: calc(var(--responsive-font-size) * 0.5);
}

.mail-verified-incomplete__reload {
  border: var(--button-border);
  background-color: var(--button-background-color);
}
