/** マッチング ダイアログ */
@media (orientation: landscape) {
  .matching {
    --dialog-width: calc(min(var(--dialog-height) * 16 / 9, 50vw));
    --dialog-height: calc(var(--responsive-font-size) * 10);
    --closer-width: 48px;
    --closer-height: 48px;
    --control-button-width: calc(var(--responsive-font-size) * 10);
    --control-button-height: calc(var(--responsive-font-size) * 3);

    display: block;
  }
}

@media (orientation: portrait) {
  .matching {
    display: none;
  }
}

.matching__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.matching__dialog {
  --dialog-padding: var(--responsive-font-size);

  width: var(--dialog-width);
  height: var(--dialog-height);
  top: 50vh;
  top: 50dvh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
}

.matching__closer {
  position: absolute;
  top: calc(var(--closer-height) * -0.5);
  left: calc(var(--closer-width) * -0.5);
  width: var(--closer-width);
  height: var(--closer-height);
  z-index: var(--zindex-close);
}

.matching__caption {
  display: flex;
  justify-content: center;
  font-size: calc(var(--responsive-font-size) * 1.2);
}
