/**
 * 対戦カード画面
 */
@media (orientation: landscape) {
  .match-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding: var(--screen-padding-top) var(--screen-padding-right)
      var(--screen-padding-bottom) var(--screen-padding-left);
  }
}

@media (orientation: portrait) {
  .match-card {
    display: none;
  }
}

.match-card__caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--responsive-font-size) * 1.5);
  margin-bottom: var(--responsive-font-size);
}

.match-card__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.match-card__vs {
  font-size: calc(var(--responsive-font-size) * 3);
  margin: 0 calc(var(--responsive-font-size) * 5);
}

.match-card__enemy-card {
  object-fit: cover;
  width: 30%;
  transform: scale(-1, 1);
}

.match-card__player-card {
  object-fit: cover;
  width: 30%;
}
