/**
 * メッセージウインドウ
 */
@media (orientation: landscape) {
  .message-window, 
  .message-window--left,
  .message-window--right {
    /** 本カスタムプロパティはJavaScriptから変更される */
    --brightness: brightness(1);
    --margin-x: max(3vw, var(--safe-area-left), var(--safe-area-right));
    box-sizing: border-box;
    display: flex;
    position: fixed;
    bottom: max(calc(var(--responsive-font-size) * 1), var(--safe-area-bottom));
    color: var(--font-color);
    font-size: var(--responsive-font-size);
    background-color: #2b2b2b;
    border: var(--dialog-border);
    border-radius: var(--dialog-border-radius);
    padding: calc(var(--responsive-font-size) * 1);
    width: calc(49vw - var(--margin-x));
    min-height: calc(var(--responsive-font-size) * 7);
    filter: var(--brightness);
  }

  .message-window {
    left: 50vw;
    transform: translate(-50%, 0);
  }

  .message-window--invisible {
    display: none;
  }

  .message-window--left {
    left: var(--margin-x);
  }

  .message-window--right {
    right: var(--margin-x);
  }

  .message-window__messages {
    flex: 1 1;
  }

  .message-window__paragraph {
    font-size: var(--responsive-font-size);
  }
}

@media (orientation: portrait) {
  .message-window,
  .message-window--left,
  .message-window--right,
  .message-window--invisible {
    display: none;
  }
}