/**
 * メッセージウインドウ
 */
@media (orientation: landscape) {
  .message-window,
  .message-window--left,
  .message-window--right,
  .message-window--near-battery-selector,
  .message-window--near-burst-button,
  .message-window--near-pilot-button,
  .message-window--player-shout,
  .message-window--enemy-shout {
    /** 本カスタムプロパティはJavaScriptから変更される */
    --brightness: brightness(1);
    --margin-x: max(3vw, var(--safe-area-left), var(--safe-area-right));
    --window-width: calc(49vw - var(--margin-x));
    --window-height: calc(var(--battle-window-font-size) * 7);
    --shout-window-height: auto;

    box-sizing: border-box;
    display: flex;
    position: fixed;
    bottom: max(
      calc(var(--battle-window-font-size) * 1),
      var(--safe-area-bottom)
    );
    color: var(--font-color);
    font-size: var(--battle-window-font-size);
    background-color: #2b2b2b;
    border: var(--dialog-border);
    border-radius: var(--dialog-border-radius);
    padding: calc(var(--battle-window-font-size) * 1);
    filter: var(--brightness);
  }

  .message-window {
    left: 50vw;
    transform: translate(-50%, 0);
    width: var(--window-width);
    min-height: var(--window-height);
  }

  .message-window--invisible {
    display: none;
  }

  .message-window--left {
    left: var(--margin-x);
    width: var(--window-width);
    min-height: var(--window-height);
  }

  .message-window--right {
    right: var(--margin-x);
    width: var(--window-width);
    min-height: var(--window-height);
  }

  .message-window--near-battery-selector {
    --right-margin: max(10px, var(--safe-area-right));

    right: calc(var(--right-margin) + var(--hud-ui-scale) * 220px);
    width: auto;
    min-height: var(--window-height);
  }

  .message-window--near-burst-button {
    --left-margin: max(10px, var(--safe-area-left));

    left: calc(var(--left-margin) + var(--hud-ui-scale) * 250px);
    width: var(--window-width);
    min-height: var(--window-height);
  }

  .message-window--near-pilot-button {
    --left-margin: max(10px, var(--safe-area-left));

    left: calc(var(--left-margin) + var(--hud-ui-scale) * 160px);
    width: var(--window-width);
    min-height: var(--window-height);
  }

  .message-window--player-shout {
    right: var(--margin-x);
    width: var(--window-width);
    height: var(--shout-window-height);
  }

  .message-window--enemy-shout {
    left: var(--margin-x);
    width: var(--window-width);
    height: var(--shout-window-height);
  }

  .message-window__messages-wrapper {
    flex: 1 1;
    overflow: hidden;
  }

  .message-window__paragraph,
  .message-window__paragraph--align-center {
    font-size: var(--battle-window-font-size);
    word-break: keep-all;
    overflow-wrap: anywhere;
  }

  .message-window__paragraph--align-center {
    display: flex;
    align-items: center;
  }

  .message-window__next-message-icon {
    display: inline-block;
    margin-left: calc(var(--battle-window-font-size) * 0.5);
    animation-name: icon-up-down;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  .message-window__next-message-icon--invisible {
    display: none;
  }

  @keyframes icon-up-down {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(10%);
    }
  }

  .message-window__minus-battery,
  .message-window__plus-battery {
    --size: calc(var(--battle-window-font-size) * 2);

    width: var(--size);
    height: var(--size);
    margin: calc(var(--battle-window-font-size) * 0.2);
  }

  .message-window__attack-battery,
  .message-window__defense-battery {
    --size: calc(var(--battle-window-font-size) * 4);

    width: var(--size);
    height: var(--size);
    margin: calc(var(--battle-window-font-size) * 0.2);
  }

  .message-window__highlight {
    font-weight: bold;
    color: #ffa500;
  }
}

@media (orientation: portrait) {
  .message-window,
  .message-window--left,
  .message-window--right,
  .message-window--near-battery-selector,
  .message-window--near-burst-button,
  .message-window--near-pilot-button,
  .message-window--player-shout,
  .message-window--enemy-shout,
  .message-window--invisible {
    display: none;
  }
}
