/**
 * ミニコントローラー
 */
@media (orientation: landscape) {
  .mini-controller {
    --font-size: calc(var(--responsive-font-size) * 1);

    position: fixed;
    bottom: max(calc(var(--responsive-font-size * 1)), var(--safe-area-bottom));
    left: 50vw;
    transform: translateX(-50%);
    color: var(--font-color);
    background-color: var(--background-color);
    border-radius: var(--dialog-border-radius);
    z-index: var(--zindex-dialog);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (orientation: portrait) {
  .mini-controller {
    display: none;
  }
}

.mini-controller__batteries {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
}

.mini-controller__battery {
  flex: 1;
}

.mini-controller__burst {
  grid-column: 1;
  grid-row: 2;
}

.mini-controller__pilor {
  grid-column: 2;
  grid-row: 2;
}