/** ネットバトルセレクタ */

@media (orientation: landscape) {
  .net-battle-selector {
    --closer-width: 48px;
    --closer-height: 48px;
    --casual-match-color: #00cc30;
    --casual-match-border: 2px solid #00cc30;
    --private-match-color: #d500ff;
    --private-match-border: 2px solid #d500ff;

    display: block;
  }
}

@media (orientation: portrait) {
  .net-battle-selector {
    display: none;
  }
}

.net-battle-selector__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.net-battle-selector__dialog {
  --dialog-padding: calc(var(--responsive-font-size) * 2);

  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  width: min(
    calc(
      100vw - var(--safe-area-right) - var(--safe-area-left) -
        var(--closer-width) * 0.5
    ),
    90vw
  );
  transform: translate(-50%, -50%);
  color: var(--font-color);
  background-color: var(--background-color);
  position: absolute;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: max(var(--dialog-padding), calc(var(--closer-height) / 2))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
  display: grid;
  grid-template:
    "casual-match private-match-host" 1fr
    "casual-match private-match-guest" 1fr / 1fr 1fr;
  grid-gap: calc(var(--responsive-font-size) * 0.3);
}

.net-battle-selector__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: calc(var(--closer-width) * -0.5);
  left: calc(var(--closer-height) * -0.5);
}

.net-battle-selector__casual-match {
  grid-area: casual-match;
  color: var(--casual-match-color);
  font-weight: bold;
  background-color: var(--sub-background-color);
  border: var(--casual-match-border);
}

.net-battle-selector__private-match-host {
  grid-area: private-match-host;
  color: var(--private-match-color);
  font-weight: bold;
  background-color: var(--sub-background-color);
  border: var(--private-match-border);
}

.net-battle-selector__private-match-guest {
  grid-area: private-match-guest;
  color: var(--private-match-color);
  font-weight: bold;
  background-color: var(--sub-background-color);
  border: var(--private-match-border);
}

.net-battle-selector__casual-match,
.net-battle-selector__private-match-host,
.net-battle-selector__private-match-guest {
  min-height: calc(var(--responsive-font-size) * 1);
  border-radius: var(--button-border-radius);
  padding: calc(var(--responsive-font-size) * 1)
    calc(var(--responsive-font-size) * 2);
  text-align: left;
}

.net-battle-selector__casual-match-title,
.net-battle-selector__private-match-host-title,
.net-battle-selector__private-match-guest-title {
  font-size: calc(var(--responsive-font-size) * 1.2);
}

.net-battle-selector__casual-match-description,
.net-battle-selector__private-match-host-description,
.net-battle-selector__private-match-guest-description {
  color: var(--button-font-color);
  font-size: calc(var(--responsive-font-size) * 0.6);
}
