/**
 * 通信エラー ダイアログ
 */
@media (orientation: landscape) {
  .network-error {
    --control-button-height: calc(var(--responsive-font-size) * 3);

    display: block;
  }
}

@media (orientation: portrait) {
  .network-error {
    display: none;
  }
}

.network-error__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.network-error__dialog {
  padding: calc(var(--responsive-font-size) * 2);
  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  position: absolute;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
}

.network-error__caption {
  margin-bottom: calc(var(--responsive-font-size) * 2);
}

.network-error__post-network-error {
  height: var(--control-button-height);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}
