/**
 * NPCルートエンディング
 */
@media (orientation: landscape) {
  .npc-ending {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding-top: var(--screen-padding-top);
    padding-left: var(--screen-padding-left);
    padding-right: var(--screen-padding-right);
    padding-bottom: var(--screen-padding-bottom);
    background-size: cover;
    background-position: 50% 0;
  }
}

@media (orientation: portrait) {
  .npc-ending {
    display: none;
  }
}

.npc-ending__end {
  object-fit: cover;
  width: 50vw;
}

.npc-ending__logo {
  object-fit: cover;
  width: 30vw;
}