/**
 * NPCルートエンディング
 */
@media (orientation: landscape) {
  .npc-ending {
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding-top: var(--screen-padding-top);
    padding-left: var(--screen-padding-left);
    padding-right: var(--screen-padding-right);
    padding-bottom: var(--screen-padding-bottom);
    background-size: cover;
    background-position: 50% 0;
  }
}

@media (orientation: portrait) {
  .npc-ending {
    display: none;
  }
}

.npc-ending__end {
  object-fit: cover;
  width: 40vw;
  transform: rotate(20deg);
  position: absolute;
  left: max(var(--safe-area-left), 5vw);
  bottom: calc(var(--safe-area-bottom) + 5vh);
}

.npc-ending__logo {
  object-fit: cover;
  width: 35vw;
  position: absolute;
  right: max(var(--safe-area-right), 5vw);
  bottom: var(--safe-area-bottom);
}