/**
 * NPCルートエンディング
 */
@media (orientation: landscape) {
  .npc-ending {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding: var(--screen-padding-top) var(--screen-padding-right)
      var(--screen-padding-bottom) var(--screen-padding-left);
    background-size: cover;
    background-position: 50% 0;
  }
}

@media (orientation: portrait) {
  .npc-ending {
    display: none;
  }
}

.npc-ending__end {
  object-fit: cover;
  width: 40dvw;
  position: absolute;
  left: max(var(--safe-area-left), 5vh);
  bottom: max(var(--safe-area-bottom), 5vh);
}

.npc-ending__logo {
  object-fit: cover;
  width: 35vw;
  position: absolute;
  right: max(var(--safe-area-right), 5vh);
  bottom: max(var(--safe-area-bottom), 5vh);
}
