/** プレイヤー選択画面 パイロットステータスウインドウ */
.pilot-status {
  font-size: calc(var(--responsive-font-size) * 0.8);
  width: 50vw;
  box-sizing: border-box;
  overflow: scroll;
  height: calc(var(--responsive-font-size) * 8);
  padding: calc(var(--responsive-font-size) * 0.5);
  background-color: rgb(10 10 10 / 70%);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.pilot-status__basic-status {
  border-bottom: 1px dashed var(--font-color);
  padding-bottom: calc(var(--responsive-font-size) * 0.5);
}

.pilot-status__skill-overview {
  margin-top: calc(var(--responsive-font-size) * 0.5);
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.pilot-status__skill-overview-label,
.pilot-status__skill-detail-label {
  display: inline-block;
  border-radius: calc(var(--responsive-font-size) * 0.2);
  padding: 0 calc(var(--responsive-font-size) * 0.8);
}

.pilot-status__skill-overview-label {
  background-color: var(--button-background-color);
  border: var(--label-border);
}

.pilot-status__skill-detail-label {
  background-color: var(--sub-button-background-color);
  border: var(--sub-label-border);
}
