/** パイロットカード */
.pilot-card {
  --font-size: calc(var(--responsive-font-size) * 0.6);
  --gap: calc(var(--font-size) * 0.3);
  --text-height: calc(var(--font-size) * 1.5);
  --label-width: calc(var(--font-size) * 4.5);
  --icon-size: calc(var(--text-height) * 2);

  display: grid;
  gap: var(--gap);
  grid-template-columns: var(--icon-size) 1fr;
  width: calc(var(--font-size) * 14);
  min-height: calc(var(--font-size) * 8);
  user-select: none;
  overflow: hidden;
  background-color: rgb(10 10 10 / 70%);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  padding: calc(var(--font-size) * 0.3);
  box-sizing: border-box;
  font-size: var(--font-size);
  color: var(--font-color);
  text-align: start;
}

.pilot-card__pilot-icon {
  place-self: center;
  height: var(--icon-size);
}

.pilot-card__status {
  height: 100%;
  place-self: center auto;
  display: grid;
  gap: var(--gap);
  grid-template-columns:
    var(--label-width)
    1fr;
}

.pilot-card__skill-label {
  display: inline-block;
  background-color: var(--button-background-color);
  text-align: center;
  border-radius: calc(var(--responsive-font-size) * 0.2);
  min-height: var(--text-height);
}
