/** パイロットカード */
.pilot-card {
  --font-size: calc(var(--responsive-font-size) * 0.7);
  --gap: calc(var(--font-size) * 0.3);
  --text-height: calc(var(--font-size) * 1.5);

  display: grid;
  grid-template-rows:
    auto
    1fr;
  gap: var(--gap);
  width: calc(var(--font-size) * 14);
  min-height: calc(var(--font-size) * 11);
  user-select: none;
  overflow: hidden;
  background-color: rgb(10 10 10 / 70%);
  border: var(--dialog-border);
  border-radius: calc(var(--dialog-border-radius) * 0.6);
  padding: calc(var(--font-size) * 0.3);
  box-sizing: border-box;
  font-size: var(--font-size);
  color: var(--font-color);
  text-align: start;
}

.pilot-card__pilot-image {
  grid-row: 1;
  grid-column: 1;
  height: calc(var(--font-size) * 3);
  position: relative;
  overflow: hidden;
}

.pilot-card__bust-shot {
  position: absolute;
  height: calc(var(--font-size) * 4);
  top: 0;
  right: 0;
}

.pilot-card__name {
  position: absolute;
  bottom: 0;
  left: 0;
}
