/** プレイヤー選択画面 パイロットバストショット */

.pilot-bust-shot__shinya {
  position: fixed;
  right: -15vh;
  right: -15dvh;
  bottom: -10vh;
  bottom: -10dvh;
  width: 75vh;
  width: 75dvh;
  height: 75vh;
  height: 75dvh;
}

.pilot-bust-shot__gai {
  position: fixed;
  right: -10vh;
  right: -10dvh;
  bottom: -10vh;
  bottom: -10dvh;
  width: 75vh;
  width: 75dvh;
  height: 75vh;
  height: 75dvh;
}

.pilot-bust-shot__raito {
  position: fixed;
  right: -15vh;
  right: -15dvh;
  bottom: -10vh;
  bottom: -10dvh;
  width: 75vh;
  width: 75dvh;
  height: 75vh;
  height: 75dvh;
}

.pilot-bust-shot__tsubasa {
  position: fixed;
  right: -10vh;
  right: -10dvh;
  bottom: -10vh;
  bottom: -10dvh;
  width: 85vh;
  width: 85dvh;
  height: 85vh;
  height: 85dvh;
}

.pilot-bust-shot__yuuya {
  position: fixed;
  right: -10vh;
  right: -10dvh;
  bottom: -20vh;
  bottom: -20dvh;
  width: 95vh;
  width: 95dvh;
  height: 95vh;
  height: 95dvh;
}
