/** プレイヤー選択画面 パイロットバストショット */

.pilot-bust-shot__shinya {
  position: absolute;
  right: -13vh;
  top: calc(100vh - 76.5vh);
  width: 85vh;
  height: 85vh;
}

.pilot-bust-shot__gai {
  position: absolute;
  right: -13vh;
  top: calc(100vh - 76.5vh);
  width: 85vh;
  height: 85vh;
}

.pilot-bust-shot__raito {
  position: absolute;
  right: -13vh;
  top: calc(100vh - 76.5vh);
  width: 85vh;
  height: 85vh;
}

.pilot-bust-shot__tsubasa {
  position: absolute;
  right: -13vh;
  top: calc(100vh - 85.5vh);
  width: 95vh;
  height: 95vh;
}

.pilot-bust-shot__yuuya {
  position: absolute;
  right: -13vh;
  top: calc(100vh - 82vh);
  width: 100vh;
  height: 100vh;
}
