/* ============================================================ 
 * プレイヤーピッカーダイアログ
 * ============================================================ */
@media (orientation: landscape) {
  .player-picker {
    --grid-gap: calc(var(--responsive-font-size) * 0.5);

    display: block;
    position: relative;
  }
}

@media (orientation: portrait) {
  .player-picker {
    display: none;
  }
}

.player-picker__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.player-picker__dialog {
  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  position: absolute;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
}

.player-picker__content {
  --dialog-padding: calc(var(--responsive-font-size) * 2);

  box-sizing: border-box;
  /* width: min(
    calc(
      100vw - var(--safe-area-right) - var(--safe-area-left) -
        var(--closer-width)
    ),
    80vw
  );
  height: calc(
    100dvh -
      max(
        var(--safe-area-top) + var(--safe-area-bottom),
        var(--closer-height) + var(--responsive-font-size) * 2
      )
  ); */
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  display: grid;
  grid-template:
    "armdozer pilot" 1fr
    "actions  actions" auto / 1fr 1fr;
  gap: var(--grid-gap);
  padding: max(var(--dialog-padding), calc(var(--closer-height) / 2))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
}

/* ============================================================ 
 * 共通系
 * ============================================================ */

.player-picker__armdozer-icon,
.player-picker__pilot-icon {
  --size: calc(var(--responsive-font-size) * 4);

  width: var(--size);
  height: var(--size);
}

/* ============================================================ 
 * アームドーザ
 * ============================================================ */

.player-picker__armdozer-picker {
  grid-area: armdozer;
}

/* ============================================================ 
 * パイロット
 * ============================================================ */

.player-picker__pilot-picker {
  grid-area: pilot;
}

/* ============================================================ 
 * アクションボタン
 * ============================================================ */

.player-picker__actions {
  grid-area: actions;
  display: flex;
  gap: var(--grid-gap);
}

.player-picker__goto-title,
.player-picker__retry {
  flex: 1;
  height: calc(var(--responsive-font-size) * 3);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
}

.player-picker__goto-title {
  background-color: var(--sub-button-background-color);
  border: var(--sub-button-border);
}

.player-picker__retry {
  background-color: var(--button-background-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}
