/**
 * ランドスケープ警告画面
 */
@media (orientation: landscape) {
  .play-in-landscape {
    display: none;
  }
}

@media (orientation: portrait) {
  .play-in-landscape {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;
    z-index: var(--zindex-play-in-landscape);
  }
}

.play-in-landscape__caption {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.play-in-landscape__image {
  --icon-width: 20vw;
  --icon-height: calc(var(--icon-width) * 0.45);

  width: var(--icon-width);
  height: var(--icon-height);
}
