/**
 * プレイヤー選択画面
 */
@media (orientation: landscape) {
  .player-select {
    --working-zindex: 1;
    --selector-zindex: 2;
    --control-button-width: 24vw;
    --control-button-height: calc(var(--responsive-font-size) * 3);
    --armdozer-icon-width: 12.5vw;
    --armdozer-icon-height: 12.5vw;
    --pilot-icon-width: 12.5vw;
    --pilot-icon-height: 12.5vw;
    --check-width: 6vw;
    display: flex;
    flex-direction: column;
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding-top: var(--screen-padding-top);
    padding-left: var(--screen-padding-left);
    padding-right: var(--screen-padding-right);
    padding-bottom: var(--screen-padding-bottom);
  }
}

@media (orientation: portrait) {
  .player-select {
    display: none;
  }
}

.player-select__working {
  z-index: var(--working-zindex);
  position: relative;
  flex: 1 1;
}

.player-select__armdozer-selector__controllers__ok-button,
.player-select__pilot-selector__controllers__ok-button {
  width: var(--control-button-width);
  height: var(--control-button-height);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}

.player-select__armdozer-selector__controllers__prev-button,
.player-select__pilot-selector__controllers__prev-button {
  width: var(--control-button-width);
  height: var(--control-button-height);
  margin-right: 1vw;
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  background-color: var(--sub-button-background-color);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}

.player-select__armdozer-bust-shot__shin-braver {
  --width: calc(var(--vh) * 200);
  position: absolute;
  top: calc(var(--vh) * -10);
  left: calc(100vw - 0.9 * var(--width) - var(--safe-area-right));
  width: var(--width);
}

.player-select__armdozer-bust-shot__neo-landozer {
  --width: calc(var(--vh) * 200);
  position: absolute;
  top: calc(var(--vh) * -25);
  left: calc(100vw - 0.9 * var(--width) - var(--safe-area-right));
  width: var(--width);
}

.player-select__armdozer-bust-shot__lightning-dozer {
  --width: calc(var(--vh) * 200);
  position: absolute;
  top: calc(var(--vh) * -25);
  left: calc(100vw - 0.9 * var(--width) - var(--safe-area-right));
  width: var(--width);
}

.player-select__armdozer-bust-shot__wing-dozer {
  --width: calc(var(--vh) * 200);
  position: absolute;
  top: calc(var(--vh) * -40);
  left: calc(100vw - 0.8 * var(--width) - var(--safe-area-right));
  width: var(--width);
}

.player-select__pilot-bust-shot__shinya {
  --width:  calc(var(--vh) * 85);
  --height: var(--width);
  position: absolute;
  left: calc(100vw - var(--width) * 0.9  - var(--safe-area-right));
  top: calc(100 * var(--vh) - var(--height) * 0.9);
  width: var(--width);
  height: var(--height);
}

.player-select__pilot-bust-shot__gai {
  --width: calc(var(--vh) * 85);
  --height: var(--width);
  position: absolute;
  left: calc(100vw - var(--width) * 0.9 - var(--safe-area-right));
  top: calc(100 * var(--vh) - var(--height) * 0.9);
  width: var(--width);
  height: var(--height);
}

.player-select__pilot-bust-shot__raito {
  --width: calc(var(--vh) * 85);
  --height: var(--width);
  position: absolute;
  left: calc(100vw - var(--width) * 0.9 - var(--safe-area-right));
  top: calc(100 * var(--vh) - var(--height) * 0.9);
  width: var(--width);
  height: var(--height);
}

.player-select__pilot-bust-shot__tsubasa {
  --width: calc(var(--vh) * 95);
  --height: var(--width);
  position: absolute;
  left: calc(100vw - var(--width) * 0.9 - var(--safe-area-right));
  top: calc(100 * var(--vh) - var(--height) * 0.9);
  width: var(--width);
  height: var(--height);
}

.player-select__selector {
  z-index: var(--selector-zindex);
}

.player-select__armdozer-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.player-select__armdozer-selector--hidden {
  display: none;
}

.player-select__armdozer-status,
.player-select__pilot-status {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--responsive-font-size) * 0.8);
  width: 50vw;
  box-sizing: border-box;
  height: calc(var(--responsive-font-size) * 8);
  padding: calc(var(--responsive-font-size) * 0.5);
  background-color: rgba(10, 10, 10, 0.7);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.player-select__armdozer-status__basic__hp-label,
.player-select__armdozer-status__basic__power-label,
.player-select__armdozer-status__basic__speed-label
{
  margin-right: calc(var(--responsive-font-size) * 0.2);
}

.player-select__armdozer-status__basic__hp-value,
.player-select__armdozer-status__basic__power-value
{
  margin-right: calc(var(--responsive-font-size));
}

.player-select__armdozer-status__burst {
  display: flex;
  flex-direction: column;
}

.player-select__armdozer-status__burst__content {
  padding-left: var(--responsive-font-size);
}

.player-select__armdozer-selector__icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.player-select__armdozer-icon {
  position: relative;
}

.player-select__armdozer-icon__image {
  width: var( --armdozer-icon-width);
  height: var( --armdozer-icon-height);
}

.player-select__armdozer-icon__image--selected {
  width: var( --armdozer-icon-width);
  height: var( --armdozer-icon-height);
  filter: brightness(0.4);
}

.player-select__armdozer-icon__check {
  --width: 6vw;
  width: var(--width);
  position: absolute;
  top: 0;
  left: calc(var(--armdozer-icon-width) - var(--width));
}

.player-select__pilot-selector {
  z-index: var(--selector-zindex);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.player-select__pilot-selector--hidden {
  display: none;
}

.player-select__pilot-status__skill {
  display: flex;
  flex-direction: column;
}

.player-select__pilot-status__skill__content {
  padding-left: var(--responsive-font-size);
}

.player-select__pilot-selector__icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.player-select__pilot-icon {
  position: relative;
}

.player-select__pilot-icon__image {
  width: var(--pilot-icon-width);
  height: var(--pilot-icon-height);
}

.player-select__pilot-icon__image--selected {
  width: var(--pilot-icon-width);
  height: var(--pilot-icon-height);
  filter: brightness(0.4);
}

.player-select__pilot-icon__check {
  --width: 6vw;
  width: var(--width);
  position: absolute;
  top: 0;
  left: calc(var(--pilot-icon-width) - var(--width));
}