/**
 * プレイヤー選択画面
 */
@media (orientation: landscape) {
  .player-select {
    --working-zindex: 1;
    --selector-zindex: 2;
    --check-width: 6vw;

    display: flex;
    flex-direction: column;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding: var(--screen-padding-top) var(--screen-padding-right)
      var(--screen-padding-bottom) var(--screen-padding-left);
  }
}

@media (orientation: portrait) {
  .player-select {
    display: none;
  }
}

.player-select__working {
  z-index: var(--working-zindex);
  position: relative;
  flex: 1 1;
}

.player-select__selector {
  z-index: var(--selector-zindex);
}
