/* ============================================================ 
 * プレイヤーピッカーダイアログ
 * ============================================================ */
@media (orientation: landscape) {
  .player-picker {
    --grid-gap: calc(var(--responsive-font-size) * 0.5);

    display: block;
    position: relative;
  }
}

@media (orientation: portrait) {
  .player-picker {
    display: none;
  }
}

.player-picker__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.player-picker__dialog {
  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  position: absolute;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
}

.player-picker__content {
  --dialog-padding: calc(var(--responsive-font-size) * 2);

  box-sizing: border-box;
  width: min(
    calc(
      100vw - var(--safe-area-right) - var(--safe-area-left) -
        var(--closer-width)
    ),
    80vw
  );
  height: calc(
    100dvh -
      max(
        var(--safe-area-top) + var(--safe-area-bottom),
        var(--closer-height) + var(--responsive-font-size) * 2
      )
  );
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  display: grid;
  grid-template:
    "armdozer-detail  pilot-detail " auto
    "armdozer-picker  pilot-picker" 1fr
    "actions          actions" auto / 1fr 1fr;
  gap: var(--grid-gap);
  padding: max(var(--dialog-padding), calc(var(--closer-height) / 2))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
}

/* ============================================================ 
 * 共通系
 * ============================================================ */

.player-picker__armdozer-icon,
.player-picker__pilot-icon {
  --size: calc(var(--responsive-font-size) * 4);

  width: var(--size);
  height: var(--size);
}

.player-picker__armdozer-detail,
.player-picker__pilot-detail {
  height: 100%;
  overflow-y: scroll;
  gap: var(--grid-gap);
  border-radius: calc(var(--responsive-font-size) * 0.5);
}

/* ============================================================ 
 * アームドーザ
 * ============================================================ */

.player-picker__armdozer-detail {
  grid-area: armdozer-detail;
  align-self: start;
  display: grid;
  grid-template:
    "armdozer-name" auto
    "armdozer-basic-status" auto
    "burst" 1fr;
  align-items: start;
}

.player-picker__armdozer-name {
  grid-area: armdozer-name;
  font-weight: bold;
}

.player-picker__armdozer-basic-status {
  grid-area: armdozer-basic-status;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--grid-gap);
}

.player-picker__armdozer-hp,
.player-picker__armdozer-battery,
.player-picker__armdozer-power,
.player-picker__armdozer-speed {
  display: flex;
  align-items: center;
  gap: calc(var(--responsive-font-size) * 0.2);
}

.player-picker__armdozer-hp-label,
.player-picker__armdozer-battery-label,
.player-picker__armdozer-power-label,
.player-picker__armdozer-speed-label {
  display: grid;
  place-items: center;
  min-width: calc(var(--responsive-font-size) * 3);
  min-height: calc(var(--responsive-font-size) * 1.5);
  box-sizing: border-box;
  background-color: var(--button-background-color);
  border: var(--label-border);
  border-radius: calc(var(--responsive-font-size) * 0.2);
  padding: 0 calc(var(--responsive-font-size) * 0.4);
}

.player-picker__burst-label {
  display: inline-block;
  text-align: center;
  border: var(--label-border);
  border-radius: calc(var(--responsive-font-size) * 0.2);
  padding: 0 calc(var(--responsive-font-size) * 0.8);
  background-color: var(--button-background-color);
}

.player-picker__battery-icon {
  width: var(--responsive-font-size);
  height: var(--responsive-font-size);
}

.player-picker__burst {
  grid-area: burst;
}

.player-picker__armdozer-picker {
  grid-area: armdozer-picker;
}

/* ============================================================ 
 * パイロット
 * ============================================================ */

.player-picker__pilot-detail {
  grid-area: pilot-detail;
  align-self: start;
  display: grid;
  grid-template:
    "pilot-name" auto
    "pilot-skill" 1fr;
  align-items: start;
}

.player-picker__pilot-name {
  grid-area: pilot-name;
  font-weight: bold;
}

.player-picker__pilot-skill-label {
  display: inline-block;
  text-align: center;
  border: var(--label-border);
  border-radius: calc(var(--responsive-font-size) * 0.2);
  padding: 0 calc(var(--responsive-font-size) * 0.8);
  background-color: var(--button-background-color);
}

.player-picker__pilot-picker {
  grid-area: pilot-picker;
}

/* ============================================================ 
 * アクションボタン
 * ============================================================ */

.player-picker__actions {
  grid-area: actions;
  display: flex;
  gap: var(--grid-gap);
}

.player-picker__goto-title,
.player-picker__retry {
  flex: 1;
  height: calc(var(--responsive-font-size) * 3);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
}

.player-picker__goto-title {
  background-color: var(--sub-button-background-color);
  border: var(--sub-button-border);
}

.player-picker__retry {
  background-color: var(--button-background-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}
