/** バトル終了後行動選択フローター */
@media (orientation: landscape) {
  .post-battle {
    position: fixed;
    bottom: max(var(--safe-area-bottom), var(--screen-padding-bottom));
    right: max(var(--safe-area-right), var(--screen-padding-right));
    gap: calc(var(--responsive-font-size) * 0.5);
    z-index: var(--zindex-post-battle-floater);
  }
}

@media (orientation: portrait) {
  .post-battle {
    display: none;
  }
}

.post-battle__main-action,
.post-battle__sub-action {
  min-width: 32vw;
  min-height: calc(var(--responsive-font-size) * 4.5);
  font-size: calc(var(--responsive-font-size) * 1.2);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
}

.post-battle__sub-action {
  border: var(--sub-button-border);
  background-color: var(--sub-button-background-color);
  box-shadow: var(--sub-button-box-shadow);
}

.post-battle__main-action {
  border: 3px solid #00b0e6;
  font-weight: bold;
  background-color: var(--button-background-color);
  box-shadow: var(--sub-button-box-shadow);
}
