/** バトル終了後行動選択フローター */
@media (orientation: landscape) {
  .post-battle {
    position: fixed;
    bottom: max(var(--safe-area-bottom), var(--screen-padding-bottom));
    right: max(var(--safe-area-right), var(--screen-padding-right));
    gap: calc(var(--responsive-font-size) * 0.5);
  }
}

@media (orientation: portrait) {
  .post-battle {
    display: none;
  }
}

.post-battle__main-action,
.post-battle__sub-action {
  width: max(var(--responsive-font-size) * 10, 30vw);
  height: calc(var(--responsive-font-size) * 4);
  font-size: calc(var(--responsive-font-size) * 1.3);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}

.post-battle__sub-action {
  background-color: var(--sub-button-background-color);
}

.post-battle__main-action {
  background-color: var(--button-background-color);
}
