/** バトル終了後行動選択フローター */
@media (orientation: landscape) {
  .post-battle {
    --control-button-width: calc(var(--responsive-font-size) * 10);
    --control-button-height: calc(var(--responsive-font-size) * 3);

    position: absolute;
    bottom: max(var(--safe-area-bottom), 20vh);
    left: 50vw;
    left: 50dvw;
  }
}

@media (orientation: portrait) {
  .post-battle {
    display: none;
  }
}

.post-battle__main-action,
.post-battle__sub-action {
  width: var(--control-button-width);
  height: var(--control-button-height);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
  margin: calc(var(--responsive-font-size) * 0.5);
}

.post-battle__sub-action {
  background-color: var(--sub-button-background-color);
}

.post-battle__main-action {
  background-color: var(--button-background-color);
}
