/** プライベートマッチ（ゲスト）ダイアログ */

@media (orientation: landscape) {
  .private-match-guest {
    --closer-width: 48px;
    --closer-height: 48px;

    display: block;
  }
}

@media (orientation: portrait) {
  .private-match-guest {
    display: none;
  }
}

.private-match-guest__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.private-match-guest__dialog {
  --dialog-padding: calc(var(--responsive-font-size) * 2);

  top: 50dvh;
  left: 50dvw;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  background-color: var(--background-color);
  position: absolute;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: max(var(--dialog-padding), calc(var(--closer-height) / 2))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
  min-width: calc(var(--responsive-font-size) * 35);
  min-height: 30vh;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  text-align: center;
  font-size: calc(var(--responsive-font-size) * 1);
}

.private-match-guest__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: calc(var(--closer-width) * -0.5);
  left: calc(var(--closer-height) * -0.5);
}

.private-match-guest__qr-code-description {
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.private-match-guest__start-qr-code-reader {
  font-size: calc(var(--responsive-font-size) * 1);
  color: var(--button-font-color);
  background-color: var(--sub-button-background-color);
  border-radius: var(--button-border-radius);
  border: var(--sub-button-border);
  height: calc(var(--responsive-font-size) * 3);
  min-width: calc(var(--responsive-font-size) * 7);
}

.private-match-guest__separator {
  margin: calc(var(--responsive-font-size) * 1) 0;
}

.private-match-guest__room-id-description {
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.private-match-guest__room-id-form {
  display: flex;
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
  gap: calc(var(--responsive-font-size) * 0.5);
}

.private-match-guest__room-id {
  flex: 1;
  height: calc(var(--responsive-font-size) * 3);
  border: var(--sub-button-border);
  border-radius: var(--button-border-radius);
  padding: var(--button-border-radius);
  box-sizing: border-box;
  font-size: calc(var(--responsive-font-size) * 1);
}

.private-match-guest__enter {
  font-size: calc(var(--responsive-font-size) * 1);
  color: var(--button-font-color);
  background-color: var(--sub-button-background-color);
  border-radius: var(--button-border-radius);
  border: var(--sub-button-border);
  height: calc(var(--responsive-font-size) * 3);
  min-width: calc(var(--responsive-font-size) * 7);
}
