/** プライベートマッチ（ホスト）ダイアログ */

@media (orientation: landscape) {
  .private-match-host {
    --closer-width: 48px;
    --closer-height: 48px;

    display: block;
  }
}

@media (orientation: portrait) {
  .private-match-host {
    display: none;
  }
}

.private-match-host__dialog {
  --dialog-padding: calc(var(--responsive-font-size) * 2);

  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  background-color: var(--background-color);
  position: absolute;
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: max(var(--dialog-padding), calc(var(--closer-height) / 2))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
}

.private-match-host__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: calc(var(--closer-width) * 0.25);
  left: calc(var(--closer-height) * 0.25);
}

.private-match-host__title {
  font-size: calc(var(--responsive-font-size) * 1.3);
}

.private-match-host__description {
  margin-bottom: calc(var(--responsive-font-size) * 2);
  font-size: calc(var(--responsive-font-size) * 1);
}

.private-match-host__qr-code {
  --qr-code-size: calc(var(--responsive-font-size) * 4);

  width: var(--qr-code-size);
  height: var(--qr-code-size);
}

.private-match-host__room-id {
  font-size: calc(var(--responsive-font-size) * 2.8);
  white-space: nowrap;
  user-select: text;
}
