/** プライベートマッチ（ホスト）ダイアログ */

@media (orientation: landscape) {
  .private-match-host {
    --closer-width: 48px;
    --closer-height: 48px;

    display: block;
  }
}

@media (orientation: portrait) {
  .private-match-host {
    display: none;
  }
}

.private-match-host__dialog {
  --dialog-padding: calc(var(--responsive-font-size) * 2);

  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  background-color: var(--background-color);
  position: absolute;
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: max(var(--dialog-padding), calc(var(--closer-height) / 2))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
  font-size: calc(var(--responsive-font-size) * 1);
}

.private-match-host__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: max(var(--safe-area-top), calc(var(--closer-width) * 0.3));
  left: max(var(--safe-area-left), calc(var(--closer-height) * 0.3));
}

.private-match-host__qr-code-description {
  margin-bottom: calc(var(--responsive-font-size) * 0.5);
}

.private-match-host__separator {
  margin: calc(var(--responsive-font-size) * 1) 0;
}

.private-match-host__room-id {
  display: grid;
  grid-template-areas:
    "description copy"
    "value       copy";
  gap: 0 calc(var(--responsive-font-size) * 0.5);
}

.private-match-host__room-id-description {
  text-align: right;
  grid-area: description;
  font-size: calc(var(--responsive-font-size) * 1);
}

.private-match-host__room-id-value {
  grid-area: value;
  white-space: nowrap;
  user-select: text;
  font-size: calc(var(--responsive-font-size) * 2);
  font-weight: bold;
}

.private-match-host__copy-room-id {
  grid-area: copy;
  position: relative;
  font-size: calc(var(--responsive-font-size) * 1);
  color: var(--button-font-color);
  min-width: calc(var(--responsive-font-size) * 9);
  background-color: var(--sub-button-background-color);
  border-radius: var(--button-border-radius);
  border: var(--button-border);
}

.private-match-host__success-copy-room-id {
  position: absolute;
  display: grid;
  place-items: center;
  font-size: calc(var(--responsive-font-size) * 0.8);
  min-width: calc(var(--responsive-font-size) * 9);
  min-height: calc(var(--responsive-font-size) * 2);
  left: 0;
  top: 0;
  background-color: #2e8b57;
  border-left: #006400 solid thick;
  box-sizing: border-box;
  opacity: 0;
}
