/** プライベートマッチエントリ拒否ダイアログ */

@media (orientation: landscape) {
  .reject-private-match-entry {
    display: block;
  }
}

@media (orientation: portrait) {
  .reject-private-match-entry {
    display: none;
  }
}

.reject-private-match-entry__dialog {
  --dialog-padding: calc(var(--responsive-font-size) * 2);

  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  color: var(--font-color);
  background-color: var(--background-color);
  position: absolute;
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: max(var(--dialog-padding), calc(var(--closer-height) / 2))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reject-private-match-entry__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: max(var(--safe-area-top), calc(var(--closer-width) * 0.3));
  left: max(var(--safe-area-left), calc(var(--closer-height) * 0.3));
}

.reject-private-match-entry__title {
  font-size: calc(var(--responsive-font-size) * 1);
  margin-bottom: calc(var(--responsive-font-size) * 2);
}

.reject-private-match-entry__close-dialog {
  font-size: calc(var(--responsive-font-size) * 1);
  color: var(--button-font-color);
  background-color: var(--button-background-color);
  border-radius: var(--button-border-radius);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
  height: calc(var(--responsive-font-size) * 3);
  min-width: calc(var(--responsive-font-size) * 20);
}
