/** プライベートマッチエントリ拒否ダイアログ */

@media (orientation: landscape) {
  .reject-private-match-entry {
    --closer-width: 48px;
    --closer-height: 48px;

    display: block;
  }
}

@media (orientation: portrait) {
  .reject-private-match-entry {
    display: none;
  }
}

.reject-private-match-entry__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.reject-private-match-entry__dialog {
  --dialog-padding: calc(var(--responsive-font-size) * 2);

  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  background-color: var(--background-color);
  position: absolute;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: max(var(--dialog-padding), calc(var(--closer-height) / 2))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.reject-private-match-entry__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: calc(var(--closer-width) * -0.5);
  left: calc(var(--closer-height) * -0.5);
}

.reject-private-match-entry__description {
  font-size: calc(var(--responsive-font-size) * 0.8);
  margin-bottom: calc(var(--responsive-font-size) * 2);
}

.reject-private-match-entry__close-dialog {
  font-size: calc(var(--responsive-font-size) * 1);
  color: var(--button-font-color);
  background-color: var(--button-background-color);
  border-radius: var(--button-border-radius);
  border: var(--button-border);
  height: calc(var(--responsive-font-size) * 3);
}
