/** root要素 */

:root {
  /** 画面サイズ */
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-right: env(safe-area-inset-right);
  --safe-area-bottom: env(safe-area-inset-bottom);
  --safe-area-left: env(safe-area-inset-left);
  --screen-padding-top: max(var(--safe-area-top), 1rem);
  --screen-padding-left: max(var(--safe-area-left), 1rem);
  --screen-padding-right: max(var(--safe-area-right), 1rem);
  --screen-padding-bottom: max(var(--safe-area-bottom), 1rem);

  /** フォント */
  --font-color: rgb(240 240 240);
  --responsive-font-size: 10px;

  /** 戦闘メッセージウインドウ フォントサイズ */
  --battle-window-font-small: calc(var(--responsive-font-size) * 1);
  --battle-window-font-normal: calc(var(--responsive-font-size) * 1.2);
  --battle-window-font-large: calc(var(--responsive-font-size) * 1.5);

  /**
   * 戦闘メッセージ ウインドウフォントサイズの現在値
   * 本カスタムプロパティはJavaScriptにより操作される
   */
  --battle-window-font-size: var(--battle-window-font-normal);

  /** 背景 */
  --background-color: rgb(23 23 23);
  --sub-background-color: #2d3333;

  /** z-index */
  --zindex-title-armdozers: 0;
  --zindex-title-help: 1;
  --zindex-title-account: 1;
  --zindex-title-contents: 2;
  --zindex-battle-hamburger-menu: 3;
  --zindex-mini-controller: 3;
  --zindex-background: 100;
  --zindex-dialog: 101;
  --zindex-close: 102;
  --zindex-qr-code-reader: 103;
  --zindex-fader: 1000;
  --zindex-play-in-landscape: 10000;

  /** ボタン */
  --button-background-color: #00141a;
  --button-border: 2px solid #00b0e6;
  --button-box-shadow: 0 0 0.5em #009ccc;
  --sub-button-background-color: #1a1919;
  --sub-button-border: 2px solid #e6e3e1;
  --sub-button-box-shadow: 0 0 0.5em rgb(25 25 25);
  --button-font-color: #fff;
  --disabled-button-font-color: #a9a9a9;
  --button-border-radius: calc(var(--responsive-font-size) * 0.5);

  /** ホバー */
  --hovered-back-ground-color: #007599;

  /** ラベル */
  --label-border: 1px solid #00b0e6;
  --sub-label-border: 1px solid #e6e3e1;

  /** ダイアログ */
  --dialog-border: solid #a9a9a9 1px;
  --dialog-border-radius: calc(var(--responsive-font-size) * 0.5);
}

/* iPhoneXランドスケープ画面高以上の場合に有効になるメディアクエリ */
@media (height >= 375px) {
  :root {
    --responsive-font-size: max(3vh, 1rem);
  }
}

html {
  text-size-adjust: none;
}
