/** root要素 */

:root {
  /** 画面サイズ */
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-right: env(safe-area-inset-right);
  --safe-area-bottom: env(safe-area-inset-bottom);
  --safe-area-left: env(safe-area-inset-left);
  --screen-padding-top: calc(var(--safe-area-top) + 1rem);
  --screen-padding-left: calc(var(--safe-area-left) + 1rem);
  --screen-padding-right: calc(var(--safe-area-right) + 1rem);
  --screen-padding-bottom: calc(var(--safe-area-bottom) + 1rem);

  /** フォント */
  --font-color: rgb(240 240 240);
  --responsive-font-size: 10px;
  --battle-window-font-size: calc(var(--responsive-font-size) * 1.3);

  /** 背景 */
  --background-color: rgb(23 23 23);
  --sub-background-color: #383c3c;

  /** z-index */
  --zindex-mini-controller: 7;
  --zindex-background: 8;
  --zindex-dialog: 9;
  --zindex-close: 10;
  --zindex-fader: 11;
  --zindex-play-in-landscape: 12;

  /** ボタン */
  --button-background-color: #007bbb;
  --sub-button-background-color: #595857;
  --button-font-color: rgb(240 240 240);
  --button-border-radius: calc(var(--responsive-font-size) * 0.5);
  --button-border: none;
  --button-box-shadow: 0 0 0.5em rgb(25 25 25);

  /** ダイアログ */
  --dialog-border: solid #a9a9a9 1px;
  --dialog-border-radius: calc(var(--responsive-font-size) * 0.5);
}

/* iPhoneXランドスケープ画面高以上の場合に有効になるメディアクエリ */
@media (height >= 375px) {
  :root {
    --responsive-font-size: max(3vh, 1rem);
  }
}

html {
  text-size-adjust: none;
}
