/**
 * シークレットプレイヤーセレクト画面
 */
@media (orientation: landscape) {
  .secret-player-select {
    --icon-size: calc(var(--responsive-font-size) * 4);

    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-gap: calc(var(--responsive-font-size) * 0.5);
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding: var(--screen-padding-top) var(--screen-padding-right)
      var(--screen-padding-bottom) var(--screen-padding-left);
  }
}

@media (orientation: portrait) {
  .secret-player-select {
    display: none;
  }
}

.secret-player-select__title,
.secret-player-select__armdozer-icon-container,
.secret-player-select__pilot-icon-container {
  box-sizing: border-box;
  background-color: var(--sub-button-background-color);
  border-radius: var(--dialog-border-radius);
}

.secret-player-select__title {
  grid-row: 1;
  display: grid;
  place-items: center;
  font-size: calc(var(--responsive-font-size) * 1);
  min-height: calc(var(--responsive-font-size) * 3);
}

.secret-player-select__armdozer-icon-container,
.secret-player-select__pilot-icon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: calc(var(--responsive-font-size) * 0.5);
  gap: calc(var(--responsive-font-size) * 0.2);
}

.secret-player-select__armdozer-icon-container {
  grid-row: 2;
}

.secret-player-select__pilot-icon-container {
  grid-row: 3;
}

.secret-player-select__armdozer-icon,
.secret-player-select__pilot-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.secret-player-select__controllers {
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--responsive-font-size) * 0.5);
}

.secret-player-select__prev,
.secret-player-select__ok {
  flex: 1;
  height: calc(var(--responsive-font-size) * 3);
  font-size: var(--responsive-font-size);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
}

.secret-player-select__prev {
  background-color: var(--sub-button-background-color);
}

.secret-player-select__ok {
  background-color: var(--button-background-color);
}
