/**
 * シークレットプレイヤーセレクト画面
 */
 @media (orientation: landscape) {
  .secret-player-select {
    --working-zindex: 1;
    --selector-zindex: 2;
    --check-width: 6vw;

    display: flex;
    flex-direction: column;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding: var(--screen-padding-top) var(--screen-padding-right)
      var(--screen-padding-bottom) var(--screen-padding-left);
  }
}

@media (orientation: portrait) {
  .secret-player-select {
    display: none;
  }
}