/**
 * NPCステージタイトル
 */

@media (orientation: landscape) {
  .stage-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding: var(--screen-padding-top) var(--screen-padding-right)
      var(--screen-padding-bottom) var(--screen-padding-left);
  }
}

@media (orientation: portrait) {
  .stage-title {
    display: none;
  }
}

.stage-title__armdozer-icon {
  object-fit: cover;
  width: 20vw;
  margin-top: var(--responsive-font-size);
  transform: scale(-1, 1);
}

.stage-title__title {
  font-size: calc(var(--responsive-font-size) * 1.3);
}

.stage-title__stage {
  display: flex;
  align-items: baseline;
}

.stage-title__stage-prefix::first-letter {
  font-size: calc(var(--responsive-font-size) * 2.5);
  font-weight: bold;
}

.stage-title__stage-level {
  font-size: calc(var(--responsive-font-size) * 2);
  font-weight: bold;
}

.stage-title__caption {
  display: flex;
  align-items: baseline;
  margin-left: calc(var(--responsive-font-size) * 2);
}

.stage-title__caption-clause::first-letter {
  font-size: calc(var(--responsive-font-size) * 2.5);
  font-weight: bold;
}

.stage-title__now-loading {
  margin-top: calc(var(--responsive-font-size) * 2);
  font-size: calc(var(--responsive-font-size) * 1.5);
}