/* ============================================================ 
 * ステータスダイアログ
 * ============================================================ */

@media (orientation: landscape) {
  .status {
    --closer-width: 48px;
    --closer-height: 48px;
    --dialog-padding: var(--responsive-font-size);
    --parameter-label-width: calc(var(--responsive-font-size) * 2.2);
    --icon-size: calc(var(--responsive-font-size) * 4.5);
    --grid-gap: calc(var(--responsive-font-size) * 1);

    display: block;
  }
}

@media (orientation: portrait) {
  .status {
    display: none;
  }
}

.status__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.status__dialog {
  top: 50vh;
  top: 50dvh;
  left: 50vw;
  left: 50dvw;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  position: absolute;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
  box-sizing: border-box;
  padding: max(var(--closer-height) / 2, var(--dialog-padding))
    var(--dialog-padding) var(--dialog-padding) var(--dialog-padding);
  width: min(
    calc(
      100vw - var(--safe-area-right) - var(--safe-area-left) -
        var(--closer-width) * 0.5
    ),
    90vw
  );
  display: grid;
  grid-template:
    "armdozer-icon  armdozer-basic-status"
    "burst          burst"
    "pilot-icon     pilot-icon"
    "pilot-skill    pilot-skill" / auto 1fr;
  gap: var(--grid-gap);
}

.status__closer {
  width: var(--closer-width);
  height: var(--closer-height);
  position: absolute;
  top: calc(var(--closer-width) * -0.5);
  left: calc(var(--closer-height) * -0.5);
}
/* ============================================================ 
 * アームドーザ、パイロットアイコン
 * 共通スタイルが多いので、まとめて記述
 * ============================================================ */

.status__armdozer-icon-img,
.status__pilot-icon-img {
  width: var(--icon-size);
  height: var(--icon-size);
}

.status__armdozer-icon {
  grid-area: armdozer-icon;
}

.status__pilot-icon {
  grid-area: pilot-icon;
}

/* ============================================================ 
 * アームドーザの基本ステータス
 * ============================================================ */

.status__armdozer-basic-status {
  grid-area: armdozer-basic-status;
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  gap: var(--grid-gap);
}
.status__armdozer-hp,
.status__armdozer-battery,
.status__armdozer-power,
.status__armdozer-speed {
  display: inline-flex;
  gap: calc(var(--responsive-font-size) * 0.2);
}

.status__armdozer-hp-label,
.status__armdozer-battery-label,
.status__armdozer-power-label,
.status__armdozer-speed-label {
  display: grid;
  place-items: center;
  min-width: calc(var(--responsive-font-size) * 3);
  box-sizing: border-box;
  background-color: var(--button-background-color);
  border: var(--label-border);
  border-radius: calc(var(--responsive-font-size) * 0.2);
  padding: 0 calc(var(--responsive-font-size) * 0.4);
}

.status__battery-icon {
  width: var(--responsive-font-size);
  height: var(--responsive-font-size);
}

/* ============================================================ 
 * バースト、パイロットスキル
 * 共通スタイルが多いので、まとめて記述
 * ============================================================ */

.status__burst {
  grid-area: burst;
}

.status__pilot-skill {
  grid-area: pilot-skill;
}

.status__burst-icon,
.status__pilot-skill-icon {
  display: inline-flex;
  align-items: center;
  background-color: var(--sub-button-background-color);
  border: var(--sub-label-border);
  border-radius: calc(var(--responsive-font-size) * 0.2);
  padding: calc(var(--responsive-font-size) * 0.3);
}

.status__burst-label,
.status__pilot-skill-label {
  border-right: 1px dashed;
  margin-right: calc(var(--responsive-font-size) * 0.5);
  padding-right: calc(var(--responsive-font-size) * 0.5);
  min-width: calc(var(--responsive-font-size) * 4);
}

.status__available-box,
.status__disabled-box {
  --size: calc(var(--responsive-font-size) * 1.2);

  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: calc(var(--responsive-font-size) * 0.2);
  border-radius: calc(var(--responsive-font-size) * 0.2);
}

.status__available-box {
  background-color: #00ff7f;
}

.status__disabled-box {
  background-color: #ff7f7f;
}
