:root {
    --safe-area-top: env(safe-area-inset-top);
    --safe-area-right: env(safe-area-inset-right);
    --safe-area-bottom: env(safe-area-inset-bottom);
    --safe-area-left: env(safe-area-inset-left);
    --screen-padding-top: calc(var(--safe-area-top) + 1em);
    --screen-padding-left: calc(var(--safe-area-left) + 1em);
    --screen-padding-right: calc(var(--safe-area-right) + 1em);
    --screen-padding-bottom: calc(var(--safe-area-bottom) + 1em);
    --font-color: rgb(240, 240, 240);
    --background-color: rgb(23, 23, 23);
    --button-background-color: #1e90ff;
    --button-font-color: rgb(240, 240, 240);
    --dialog-border: solid #a9a9a9 1px;
    --dialog-border-radius: 0.4em;
    --how-to-play-dialog-width: 384px;
    --how-to-play-dialog-height: 230px;
}

.service-worker-update {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
}

.service-worker-update__title {
    font-size: 2em;
    margin-bottom: 1em;
}

@media (orientation: landscape) {
    .play-in-landscape {
        display: none;
    }
}

@media (orientation: portrait) {
    .play-in-landscape {
        width: 100vw;
        height: 100vh;
        background-color: var(--background-color);
        color: var(--font-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
        box-sizing: border-box;
    }

    .play-in-landscape__caption {
        font-size: 1.5em;
        margin-bottom: 1em;
    }
}

.loading {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading__completed-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading__completed-rate__bar {
    width: 200px;
    height: 20px;
    background: #000;
    border: 2px solid #000;
}

.loading__completed-rate__bar__completed {
    width: 0;
    height: 20px;
    background: red;
    border: none;
}

.title {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding-top: var(--screen-padding-top);
    padding-left: var(--screen-padding-left);
    padding-right: var(--screen-padding-right);
    padding-bottom: var(--screen-padding-bottom);
    background-size: cover;
}

.title--invisible {
    display: none;
}

.title__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1;
}

.title__logo__image {
    height: 75%;
    max-height: 171px;
}

.title__logo__copy-right {
    margin-top: 0.5em;
}

.title__controllers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title__controllers button {
    width: 10em;
    height: 3em;
    margin: 0 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    background-color: var(--button-background-color);
    color: var(--button-font-color);
    border: none;
}

@media (orientation: portrait) {
    .how-to-play {
        display: none;
    }
}

.how-to-play--invisible {
    display: none;
}

.how-to-play__background {
    position: absolute;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #000000;
    opacity: 0.5;
}

.how-to-play__closer {
    --closer-width: 48px;
    --closer-height: 48px;
    position: absolute;
    top: calc(50% - var(--how-to-play-dialog-height) / 2 - var(--closer-height) / 2);
    left: calc(50% - var(--how-to-play-dialog-width) / 2 - var(--closer-width) / 2);
    background-color: red;
    font-color: var(--font-color);
    z-index: 10;
    width: var(--closer-width);
    height: var(--closer-height);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.how-to-play__dialog {
    width: var(--how-to-play-dialog-width);
    height: var(--how-to-play-dialog-height);
    top: calc(50% - var(--how-to-play-dialog-height) / 2);
    left: calc(50% - var(--how-to-play-dialog-width) / 2);
    background-color: var(--background-color);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--dialog-border);
    border-radius: var(--dialog-border-radius);
}

.player-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    padding-top: var(--screen-padding-top);
    padding-left: var(--screen-padding-left);
    padding-right: var(--screen-padding-right);
    padding-bottom: var(--screen-padding-bottom);
}

.player-select--invisible {
    display: none;
}

.player-select__caption {
    font-size: 1.5em;
    flex-grow: 0;
}

.player-select__armdozers {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.player-select__armdozers__icon {
    object-fit: none;
    width: 256px;
    height: 320px;
    object-position: 48% 33%;
}