:root {
  /** 画面サイズ */
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-right: env(safe-area-inset-right);
  --safe-area-bottom: env(safe-area-inset-bottom);
  --safe-area-left: env(safe-area-inset-left);
  --screen-padding-top: calc(var(--safe-area-top) + 1em);
  --screen-padding-left: calc(var(--safe-area-left) + 1em);
  --screen-padding-right: calc(var(--safe-area-right) + 1em);
  --screen-padding-bottom: calc(var(--safe-area-bottom) + 1em);
  --screen-width: 100vw;
  --screen-height: calc(var(--vh, 1vh) * 100);

  /** フォント */
  --font-color: rgb(240, 240, 240);
  --responsive-font-size: max(3vh, 1rem);

  /** 背景 */
  --background-color: rgb(23, 23, 23);

  /** z-index */
  --zindex-background: 8;
  --zindex-dialog: 9;
  --zindex-close: 10;
  --zindex-fader: 11;
  --zindex-play-in-landscape: 12;

  /** ボタン */
  --button-background-color: #007bbb;
  --sub-button-background-color: #696969;
  --button-font-color: rgb(240, 240, 240);
  --button-border-radius: calc(var(--responsive-font-size) * 0.5);
  --button-border: none;
  --button-box-shadow: 0 0 0.5em rgb(25 25 25);

  /** ダイアログ */
  --dialog-border: solid #a9a9a9 1px;
  --dialog-border-radius: calc(var(--responsive-font-size) * 0.5);
}

@import "play-in-landscape.css";
@import "mail-verified-incomplete.css";
@import "fader.css";
@import "loading.css";
@import "title.css";
@import "player-select.css";
@import "how-to-play.css";
@import "match-card.css";
@import "npc-ending.css";
@import "login.css";
@import "waiting.css";
@import "network-error.css";
@import "delete-account-consent.css";
@import "npc-stage-title.css";