/**
 * タイトル画面
 */
@media (orientation: landscape) {
  .title {
    --zindex-armdozer: 0;
    --zindex-help: 1;
    --zindex-account: 1;
    --zindex-contents: 2;

    display: flex;
    flex-direction: column;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
    box-sizing: border-box;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
  }
}

@media (orientation: portrait) {
  .title {
    display: none;
  }
}

.title__account-controller {
  z-index: var(--zindex-account);
  position: absolute;
  top: var(--screen-padding-top);
  right: var(--screen-padding-right);
}

.title__login {
  color: var(--button-font-color);
  background-color: var(--sub-button-background-color);
  height: calc(var(--responsive-font-size) * 2.5);
  padding: 0 calc(var(--responsive-font-size) * 1.5);
  border: var(--sub-button-border);
  font-size: calc(var(--responsive-font-size));
  border-radius: calc(var(--responsive-font-size) * 0.3);
  box-shadow: var(--sub-button-box-shadow);
}

.title__login--invisible {
  display: none;
}

.title__account {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.title__account--invisible {
  display: none;
}

.title__avatar {
  --height: max(var(--responsive-font-size) * 3, 64px);

  height: var(--height);
  object-fit: contain;
  background-position: center;
  border-radius: calc(var(--height) * 0.5);
  margin-right: calc(var(--responsive-font-size) * 0.2);
}

.title__account-menu {
  --margin-horizontal: calc(var(--responsive-font-size) * 1.5);
  --margin-vertical: calc(var(--margin-horizontal) * 0.5);
  --menu-min-width: 30vw;
  --menu-max-width: 95vw;

  margin-top: calc(var(--responsive-font-size) * 0.7);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--sub-button-box-shadow);
  min-width: var(--menu-min-width);
  max-width: var(--menu-max-width);
  z-index: var(--zindex-dialog);
}

.title__account-menu--invisible {
  display: none;
}

.title__account-name {
  margin: var(--margin-vertical) var(--margin-horizontal);
}

.title__account-name-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: var(--menu-min-width);
  max-width: var(--menu-max-width);
}

.title__account-menu-separation {
  height: 0;
  border-top: solid #626262 1px;
  margin: var(--margin-vertical) 0;
}

.title__delete-account,
.title__logout {
  margin: var(--margin-vertical) var(--margin-horizontal);
}

.title__delete-account:hover,
.title__logout:hover {
  background-color: var(--hovered-back-ground-color);
}

.title__help {
  z-index: var(--zindex-help);
  position: absolute;
  top: var(--screen-padding-top);
  left: var(--screen-padding-left);
}

.title__help-icon {
  --size: max(var(--responsive-font-size) * 2.5, 32px);

  width: var(--size);
  height: var(--size);
  margin-right: calc(var(--responsive-font-size) * 0.2);
}

.title__help-menu {
  --margin-horizontal: calc(var(--responsive-font-size) * 1);
  --margin-vertical: calc(var(--margin-horizontal) * 0.5);
  --menu-max-width: 95vw;

  display: flex;
  flex-direction: column;
  margin-top: calc(var(--responsive-font-size) * 0.7);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--sub-button-box-shadow);
  max-width: var(--menu-max-width);
  padding: calc(var(--margin-horizontal) * 0.5);
  z-index: var(--zindex-dialog);
}

.title__help-menu--invisible {
  display: none;
}

.title__help-menu-separation {
  height: 0;
  border-top: solid #626262 1px;
  margin: var(--margin-vertical) 0;
}

.title__how-to-play,
.title__character-description,
.title__trailer,
.title__terms-of-service,
.title__privacy-policy,
.title__contact {
  text-decoration: none;
  color: var(--button-font-color);
  margin: var(--margin-vertical) var(--margin-horizontal);
}

.title__how-to-play:hover,
.title__character-description:hover,
.title__trailer:hover,
.title__terms-of-service:hover,
.title__privacy-policy:hover,
.title__contact:hover {
  background-color: var(--hovered-back-ground-color);
}

.title__armdozers {
  z-index: var(--zindex-armdozer);
}

.title__neo-landozer {
  --size: 150vh;

  position: fixed;
  top: 0;
  left: calc(50vw - 120vh);
  width: var(--size);
  height: var(--size);
}

.title__shin-braver {
  --size: 150vh;

  position: fixed;
  top: 0;
  left: calc(50vw - 30vh);
  transform: scaleX(-1);
  width: var(--size);
  height: var(--size);
}

.title__contents {
  z-index: var(--zindex-contents);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: var(--screen-padding-top) var(--screen-padding-right)
    var(--screen-padding-bottom) var(--screen-padding-left);
}

.title__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title__title-logo {
  height: 35vh;
}

.title__copy-rights,
.title__music {
  font-size: calc(var(--responsive-font-size) * 0.8);
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
}

.title__game-menu {
  width: 100%;
  display: grid;
  grid-template:
    "net-battle story  tutorial" 1fr
    "config     arcade tutorial" 1fr / 1fr 1fr 1fr;
  gap: calc(var(--responsive-font-size) * 0.5);
}

.title__config,
.title__net-battle,
.title__arcade,
.title__story {
  border: var(--sub-button-border);
  background-color: var(--sub-button-background-color);
  min-height: calc(var(--responsive-font-size) * 3);
  font-size: calc(var(--responsive-font-size));
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  box-shadow: var(--sub-button-box-shadow);
}

.title__config {
  grid-area: config;
}

.title__net-battle {
  grid-area: net-battle;
}

.title__net-battle--invisible {
  display: none;
}

.title__arcade {
  grid-area: arcade;
}

.title__story {
  grid-area: story;
}

.title__tutorial {
  grid-area: tutorial;
  min-height: calc(var(--responsive-font-size) * 3);
  font-size: calc(var(--responsive-font-size) * 1.1);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
  box-shadow: var(--button-box-shadow);
  border: var(--button-border);
  background-color: var(--button-background-color);
  font-weight: bold;
}
