/** チュートリアルステージ情報 */
@media (orientation: landscape) {
  .tutorial-stage {
    display: flex;
    align-items: center;
    border-radius: var(--button-border-radius);
    min-height: calc(var(--responsive-font-size) * 3);
    box-sizing: border-box;
    font-size: var(--responsive-font-size);
    padding: calc(var(--responsive-font-size) * 0.5);
  }
}

@media (orientation: portrait) {
  .tutorial-stage {
    display: none;
  }
}

.tutorial-stage__prefix {
  --icon-size: calc(var(--responsive-font-size) * 2);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: calc(var(--responsive-font-size) * 0.5);
  background-color: var(--button-background-color);
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  padding: calc(var(--responsive-font-size) * 0.2);
  border-radius: calc(var(--responsive-font-size) * 0.4);
}
