/** チュートリアルステージ情報 */
@media (orientation: landscape) {
  .tutorial-stage {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: var(--button-border-radius);
    min-height: calc(var(--responsive-font-size) * 3);
    box-sizing: border-box;
    font-size: var(--responsive-font-size);
    padding: calc(var(--responsive-font-size) * 0.5);
    background-color: var(--sub-background-color);
  }
}

@media (orientation: portrait) {
  .tutorial-stage {
    display: none;
  }
}

.tutorial-stage__beginner,
.tutorial-stage__intermediate,
.tutorial-stage__advanced {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: calc(var(--responsive-font-size) * 0.5);
  min-width: calc(var(--responsive-font-size) * 3);
  min-height: calc(var(--responsive-font-size) * 2);
  padding: calc(var(--responsive-font-size) * 0.2);
  border-radius: calc(var(--responsive-font-size) * 0.4);
}

.tutorial-stage__beginner {
  background-color: var(--button-background-color);
}

.tutorial-stage__intermediate {
  background-color: #00a497
}

.tutorial-stage__advanced {
  background-color: #d7003a;
}

.tutorial-stage__level {
  padding-right: calc(var(--responsive-font-size) * 0.2);
}

.tutorial-stage__overlay {
  position: absolute;
  border-radius: var(--button-border-radius);
  background-color: var(--font-color);
  filter: opacity(0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
