/**
 * 作業待ち ダイアログ
 */
@media (orientation: landscape) {
  .waiting {
    --wating-dialog-height: calc(var(--responsive-font-size) * 7);

    display: block;
  }
}

@media (orientation: portrait) {
  .waiting {
    display: none;
  }
}

.waiting__background {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  opacity: 0.5;
  z-index: var(--zindex-background);
}

.waiting__dialog {
  padding: 0 calc(var(--responsive-font-size) * 3);
  height: var(--wating-dialog-height);
  top: 50vh;
  top: 50dvh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  font-size: var(--responsive-font-size);
  background-color: var(--background-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  z-index: var(--zindex-dialog);
}
