<div class="match-card__contents">
  <div class="match-card__caption">
    {{caption}}
  </div>
  <img
    class="match-card__enemy-card"
    alt="敵のアームドーザ画像"
    data-id="{{ids.enemy}}"
  />
  <div class="match-card__vs">vs</div>
  <img
    class="match-card__player-card"
    alt="プレイヤーのアームドーザ画像"
    data-id="{{ids.player}}"
  />
  <div class="match-card__now-loading">
    Now Loading……
  </div>
</div>