<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>機動倶楽部 Gブレイバー バースト (GブレB)</title>
  <meta name="description" content="<%= APP_DESCRIPTION %>">
  <meta content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= OWN_ROOT_URL %>" />
  <meta property="og:title" content="機動倶楽部 Gブレイバー バースト (GブレB)" />
  <meta property="og:description" content="<%= APP_DESCRIPTION %>" />
  <meta property="og:site_name" content="機動倶楽部 Gブレイバー バースト (GブレB)" />
  <meta property="og:image" content="<%= OWN_ROOT_URL %>/ogp-thumbnail.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="<%= TWITTER_SITE %>" />
  <meta name="theme-color" content="#474a4d">
  <% if (IS_SEARCH_ENGINE_NO_INDEX) { %>
    <meta name="robots" content="noindex">
  <% } %>
  <link rel="manifest" href="manifest.json" />
  <link rel="apple-touch-icon" href="app-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
  <style><%= FIRST_VIEW_CSS %></style>
</head>
<body>
<div id="first-view" class="first-view">
  <div id="first-view__initializing" class="first-view__initializing">
    <img class="first-view__pegass85" src="/pegass85.webp" alt="pegass85">
  </div>
  <div id="first-view__initialize-is-slow" class="first-view__initialize-is-slow--invisible">
    <div class="first-view__initialize-is-slow__title">
      初期化が終わりません
    </div>
    <div class="first-view__initialize-is-slow__detail">
      以下手順で症状が改善する可能性があります。

      <ol>
        <li>Gブレイバー バーストを表示している全てのタブを閉じる</li>
        <li>インターネットに接続する</li>
        <li>再度、ブラウザでGブレイバー バーストを開く</li>
      </ol>
    </div>
  </div>
</div>
<script><%= FIRST_VIEW_JS %></script>
</body>
</html>