name: Node.js CI
on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]
env:
  NODE_JS_VERSION: 20.x
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_JS_VERSION }}
          cache: npm
      - run: npm ci
      - run: npm run type-check
      - run: npm run test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_JS_VERSION }}
          cache: npm
      - run: shellcheck *.bash
      - run: npm ci
      - run: npm run detect-circular
      - run: npm run lint
  codeFormatCheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_JS_VERSION }}
          cache: npm
      - run: npm ci
      - run: npm run code-format-check
  buildProduction:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_JS_VERSION }}
          cache: npm
      - run: npm ci
      - run: npm run build:production
  buildOthers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_JS_VERSION }}
          cache: npm
      - run: npm ci
      - run: npm run build:sw
      - run: npm run build:clear-sw
      - run: npm run build:storybook